  {% extends "informer/base.html" %}

  {% block content %}
  <!-- begin wrap -->
  <div id="wrap">
    <div id="content"
	 <div class="box large">
	   <h3>Informer</h3>
	   <form method="post" action=".">
	     <ul class="heading">
	       <li>Please enter your username and password for this server and we'll send you right along.</li>
	     </ul>
	     <ul>
	       <li>
		 <label for="id_username">Username:</label>{{ form.username }}
	       </li>
	       <li>
		 <label for="id_password">Password:</label>{{ form.password }}
	       </li>
	     </ul>
	     
	     <input type="submit" value="login" />
	     <input type="hidden" name="next" value="{{ next }}" />
	   </form>

	 </div>

	 {% if form.has_errors %}
	 <p>Your username and password didn't match. Please try again.</p>
	 {% endif %}


       </div>
       <!-- end content -->
     </div>
     <!-- end wrap -->
     {% endblock %}
