{% extends "admin/base_site.html" %}
{% load i18n %}
{% block userlinks %}<li><a href="../../doc/">{% trans 'Documentation' %}</a></li><li>{% trans 'Change password' %}</li><li><a href="../../logout/">{% trans 'Log out' %}</a></li>{% endblock %}
{% block breadcrumbs %}<li><a href="../../">{% trans 'Home' %}</a></li><li>&rsaquo; {% trans 'Password change' %}</li>{% endblock %}

{% block title %}{% trans 'Password change successful' %}{% endblock %}

{% block content %}

<div class="box large">
  <h3>&nbsp;</h3>
  <p class="intro">Your Password was changed.</p>
  <a href="/admin/" title="Go Home" class="go_home">Go Home</a>
  <div class="bottom"></div>
</div>

{% endblock %}