/* General
 * ------------------------------------------------------------ */
 
body {
	background: #222 url(/media/images/background-body.gif) repeat-x; 
	font: 12px/20px "Lucida Grande", Helvetica, Arial, sans-serif;
	color: #191d20;
	}
.clear {
	clear: both;
	}


/* Main Structure
 * ------------------------------------------------------------ */
 
#wrap {
	width: 820px;
	margin: 20px auto;
	padding: 0 0 5px 0;
	background: #636568 url(/media/images/background-wrap.gif) no-repeat left bottom;
	}
#header {
	position: relative;
	height: 72px;
	background: url(/media/images/background-header.gif) no-repeat;
	border-bottom: 1px solid #2c2f34;
	}	
#dashboard {
	padding: 10px 15px 10px 12px;
	background: #44474a url(/media/images/background-dashboard.gif) repeat-x left top;
	}	
#content {
	padding: 15px 15px 0 15px;
	}	
	
/* Header
 * ------------------------------------------------------------ */

#header a {
	color: #fff;
	font-weight: bold;
	text-shadow: #444 1px 1px 1px;
	text-decoration: none;	
	}
#header a:hover {
	color: #ccc;
	text-shadow: #666 1px 1px 1px;	
	}
#header #breadcrumb {
	position: absolute;
	left: 15px;
	top: 0px;
	height: 39px;
	line-height: 39px;
	} 
#header #breadcrumb li {
	float: left;	
	margin: 0 10px 0 0;	
	}	
#header #breadcrumb li span {
	margin: 0 10px 0 0;
	color: #fff;
	font-weight: bold;
	text-shadow: #444 1px 1px 1px;
	}
#header #breadcrumb li h1 #logo {
	display: block;
	width: 85px;
	height: 18px;
	margin: 10px 0 0 0;
	background: url(/media/images/header-informer.gif) no-repeat left center;
	text-indent: -9999px;	
	} 
#header #login {
	position: absolute;
	right: 5px;
	top: 0px;
	height: 39px;
	line-height: 39px;
	}	
#header #login li {
	float: left;
	margin: 0 10px 0 0;
	color: #303643;
	font-weight: bold;
	}
#header #login li a {
	padding: 0 0 0 10px;
	background: url(/media/images/image-divider-header.gif) no-repeat left center;
	}			
	
/* Navigation */
	
#header #nav {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 655px;
	height: 32px;
	padding: 0 0 0 165px;
	background: url(/media/images/background-nav.gif) repeat-x;
	}	
#header #nav li {	
	float: left;
	}
#header #nav li a {
	float: left;
	display: block;
	height: 32px;
	line-height: 33px;
	}	
#header #nav li a.overview {
	width: 81px;	
	padding: 0 0 0 40px;
	background: url(/media/images/nav-overview.gif) no-repeat left top;
	}
#header #nav li a.notes {
	width: 66px;	
	padding: 0 0 0 55px;
	background: url(/media/images/nav-notes.gif) no-repeat left top;
	}
#header #nav li a.elements {
	width: 81px;	
	padding: 0 0 0 40px;
	background: url(/media/images/nav-elements.gif) no-repeat left top;
	}
#header #nav li a.renders {
	width: 76px;	
	padding: 0 0 0 45px;	
	background: url(/media/images/nav-renders.gif) no-repeat left top;
	}				
#overview #header #nav li a.overview {
	background: url(/media/images/nav-overview-selected.gif) no-repeat left top;
	color: #fff;
	cursor: default;
	}
#notes #header #nav li a.notes {
	background: url(/media/images/nav-notes-selected.gif) no-repeat left top;
	color: #fff;
	cursor: default;
	}
#elements #header #nav li a.elements {
	background: url(/media/images/nav-elements-selected.gif) no-repeat left top;
	color: #fff;
	cursor: default;
	}
#renders #header #nav li a.renders {
	background: url(/media/images/nav-renders-selected.gif) no-repeat left top;
	color: #fff;
	cursor: default;
	} 	
 	
/* Sub Nav */

#header #sub_nav {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 32px;
	background: url(/media/images/background-nav.gif) repeat-x;
	}	 	
#header #sub_nav h2 {
	margin: 0 0 0 20px;
	line-height: 32px;
	font-weight: bold;
	font-size: 16px;
	text-shadow: #d3d3d3 1px 1px 1px;
	}	
#header #sub_nav ul.sorting {
	position: absolute;
	right: 20px;
	top: 0px;
	}	
#header #sub_nav ul.sorting li {
	display: inline;
	line-height: 32px;
	padding: 0 0 0 15px;
	}	
#header #sub_nav ul.sorting li a {
	color: #191d20;
	text-shadow: #d3d3d3 1px 1px 1px;	
	}	
#header #sub_nav ul.sorting li a:hover {
	color: #444;
	}	
#header #sub_nav ul.sorting li a.highlight {
	color: #fff;
	border-bottom: 1px solid #ddd;
	text-shadow: #444 1px 1px 1px;	
	}	

/* Dashboard
 * ------------------------------------------------------------ */ 

#dashboard #video {
	float: left;
	width: 544px;
	}	
#dashboard div.right {
	float: left;
	width: 245px;
	}
#dashboard div.box.small {
	margin: 0 0 15px 15px;
	background-image: url(/media/images/background-box-dashboard.gif);
	}
#dashboard div.box.small div.bottom {
	background-image: url(/media/images/background-box-dashboard-bottom.gif);
	}	

/* Content > General
 * ------------------------------------------------------------ */

#content div.header {
	position: relative;
	margin: 0 10px 5px 10px;
	color: #fff;
	text-shadow: #444 1px 1px 1px;	
	}
#content div.header h2 {
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	}
#content div.header p {	
	position: absolute;
	right: 0px;
	top: 0px;
	}
#content div.left {
	float: left;
	width: 541px;
	margin: 0 15px 0 0;	
	}	
#content div.right {
	float: left;
	width: 231px;
	}	
#content div.box {
	font-size: 11px;	
	}	
#content div.box h3 {
	height: 28px;
	line-height: 29px;
	padding: 0 0 0 12px;	
	font-weight: bold;
	font-size: 12px;
	text-shadow: #d3d3d3 1px 1px 1px;	
	}
#content div.box ul.heading li.down.highlight {
	background: url(/media/images/background-table-heading-highlight-down.gif) no-repeat right top;
	}
#content div.box ul.heading li.up.highlight {
	background: url(/media/images/background-table-heading-highlight-up.gif) no-repeat right top;
	}
 	
/* Box - Small
 * ------------------------------------------------------------ */ 	
 
div.box.small {
	float: left;
	width: 231px;
	margin: 0 0 15px 0;
	background: url(/media/images/background-box-right.gif) repeat-y left bottom;
	font-size: 11px;
	}
div.box.small div.bottom {
	height: 13px;
	background: url(/media/images/background-box-right-bottom.gif) no-repeat left bottom;
	}	
div.box.small h3 {	
	height: 27px;
	line-height: 28px;
	padding: 0 0 0 12px;
	background: url(/media/images/background-box-header-dashboard.gif) no-repeat left top;
	color: #000;
	font-weight: bold;
	font-size: 12px;
	text-shadow: #d3d3d3 1px 1px 1px;
	}
div.box.small h4 {
	margin: 0 0 0 20px;
	font-weight: bold;
	}	
div.box.small p {
	line-height: 18px;
	margin: 0 0 0 2px;
	padding: 0 10px 10px 20px;
	background: url(/media/images/image-divider-box-dashboard.gif) no-repeat left bottom;	
	}	
div.box.small ul {
	margin: 0 0 5px 0;
	}	
div.box.small ul li {
	display: block;
	width: 227px;
	height: 25px;
	line-height: 25px;
	margin: 0 0 0 2px;
	padding: 0 0 0 10px;
	background: url(/media/images/image-divider-box-dashboard.gif) no-repeat left bottom;
	}
#dashboard #shot-summary.box ul li strong{
	padding: 0 0 0 25px;
	}	
div.box.small ul li.editor strong {
	background: url(/media/images/icon-user.gif) no-repeat left center;
	}
div.box.small ul li.time strong {
	background: url(/media/images/icon-clock.gif) no-repeat left center;	
	}
div.box.small ul li.machine strong {
	background: url(/media/images/icon-computer.gif) no-repeat left center;	
	}
div.box.small ul li.path strong {
	background: url(/media/images/icon-folder.gif) no-repeat left center;	
	}
#content div.right div.box.small h3 {
	background: url(/media/images/background-box-right-header.gif) no-repeat left top;
	}		
#content div.right div.box.small ul li a {
	color: #222;
	text-decoration: none;	
	}
#content div.right div.box.small ul li a:hover {
	color: #000;
	text-decoration: underline;
	}		
#content div.right div.box.small ul li.highlight {
	padding: 0 0 0 30px;
	background: url(/media/images/background-box-right-highlight.gif) no-repeat left bottom;
	font-weight: bold;
	}			

	
/* Box - Medium
 * ------------------------------------------------------------ */
 
#content div.box.medium {
	position: relative;
	background: url(/media/images/background-box-left.gif) repeat-y;
	}
#content div.box.medium h3 {	
	background: url(/media/images/background-box-left-header.gif) no-repeat;
	}	
#content div.box.medium h3 a.launch_project {
	display: block;
	position: absolute;
	right: 10px;
	top: 5px;
	width: 18px;
	height: 18px;
	background: url(/media/images/button-launch_project.gif);
	text-indent: -9999px;
	}	
#content div.left div.box div.bottom {
	clear: both;
	width: 541px;
	height: 10px;
	margin: 0 0 15px 0;
	padding: 0 0 5px 0;
	background: url(/media/images/background-box-left-bottom.gif) no-repeat left bottom;
	}		
#content div.box.medium ul.heading {
	height: 18px;
	line-height: 17px;
	margin: 0 1px;	
	padding: 0 10px 0 8px;
	background: url(/media/images/background-box-heading.gif) repeat-x left top;
	}		
#content div.box.medium ul.heading li {	
	display: block;
	float: left;
	padding: 0 5px 0 8px;
	background: url(/media/images/background-table-heading.gif) no-repeat right top;
	font-weight: bold;
	text-shadow: #bbb 1px 1px 1px;	
	}	
#content div.box.medium ul.heading li.date,
#content div.box.medium ul.heading li.author {	
	width: 80px;
	}
#content div.box.medium ul.heading li.machine,
#content div.box.medium ul.heading li.checkedInBy,
#content div.box.medium ul.heading li.assignedTo {
	width: 100px;
	}	
#content div.box.medium ul.heading li.status {	
	width: 178px;
	}	
#content div.box.medium ul.heading li.artist,
#content div.box.medium ul.heading li.category {
	width: 271px;
	}	
#content div.box.medium ul li div.entry ul.heading li.close {
	width: 32px;
	padding: 0;
	background: url(/media/images/button-close-entry.gif) no-repeat left top;
	text-indent: -9999px;
	}	
#content div.box.medium ul li div.entry ul.heading li.update {
	width: 32px;
	padding: 0;
	background: url(/media/images/button-update-entry.gif) no-repeat left top;
	text-indent: -9999px;
	}	
#content div.box.medium ul li div.entry ul.heading li.updateSelected {
	width: 32px;
	padding: 0;
	background: url(/media/images/button-update-entry_dark.gif) no-repeat left top;
	text-indent: -9999px;
	}	
#content div.box.medium ul li {
	padding: 5px 9px;
	}	
#content div.box.medium ul li.highlight {
	background: #5a5c5f url(/media/images/background-box-list-highlight.gif) repeat-x left top;
	}	
#content div.box.medium ul li.highlight div.entry {
	background: url(/media/images/background-entry-highlight.gif) repeat-y left top;	
	}
#content div.box.medium ul li.highlight div.entry div.content {
	background: url(/media/images/background-entry-bottom-highlight.gif) no-repeat left bottom;
	}	
#content div.box.medium ul li div.entry {
	width: 524px;
	background: url(/media/images/background-entry.gif) repeat-y left top;
	}	
#content div.box.medium ul li div.entry ul.heading {
	height: 24px;
	line-height: 22px;
	margin: 0 1px;
	padding: 0;
	background: url(/media/images/background-heading-entry.gif) repeat-x left top;	
	}	
#content div.box.medium ul li div.entry ul.heading li {
	background: url(/media/images/image-entry-heading-divider.gif) no-repeat right top;
	}	
#content div.box.medium ul li div.entry ul.heading li.highlight {	
	background: url(/media/images/background-heading-entry-highlight.gif) no-repeat right top;	
	}
#content div.box.medium ul li div.entry div.content {
	padding: 0 6px 1px 6px;
	background: url(/media/images/background-entry-bottom.gif) no-repeat left bottom;
	}	
#content div.box.medium ul li div.entry div.content p {
	margin: 0 0 5px 0;
	line-height: 16px;
	}	
#content div.box.medium ul.heading li.status a {		
	display: block;
	position: absolute;
	right: 46px;
	width: 17px;
	height: 16px;
	margin: -19px 0 0 0;
	background: url(/media/images/background-checkbox.gif) no-repeat 0px 0px;
	text-indent: -9999px;
	}
#content div.box.medium ul.heading li.status a.complete {
	background-position: 0px -16px;
	}
	
/* Projects */

#wrap.projects #content div.box.medium {	
	padding-bottom: 2px;
	margin-bottom: 15px;
	background: url(/media/images/background-box-dark-left.gif) no-repeat left bottom;
	}
#wrap.projects #content div.box.medium img.thumbnail {
	float: left;
	margin: 10px;
	border: 1px solid #555;
	height: 100px;
	width: 120px;
	}
#content div.box.medium ul.meta {
	float: left;
	width: 397px;
	min-height: 125px;
	background: #808284;
	border-left: 1px solid #666;
	background: #808284 url(/media/images/background-box-medium-corner.gif) no-repeat right bottom;		
	}		
#content div.box.medium ul.meta li {
	display: block;
	height: 28px;
	line-height: 28px;
	margin: 0 0 0 2px;
	padding: 0 0 0 10px;
	background: url(/media/images/image-divider-box-dashboard.gif) repeat-x left bottom;
	}
#content div.box.medium ul.meta li.last {
	}
#wrap.projects #content div.box.medium div.clear {
	height: 0px;
	}		
	
/* Shots */	

#wrap.shots #content div.box.medium {	
	padding-bottom: 2px;
	margin-bottom: 15px;
	background: url(/media/images/background-box-dark-left.gif) no-repeat left bottom;
	}
#wrap.shots #content div.box.medium img.thumbnail {
	float: left;
	margin: 10px;
	border: 1px solid #555;
	}
#wrap.shots #content div.box.medium span.video {
	float: left;
	margin: 10px;
	border: 1px solid #555;
	}
#wrap.shots #content div.box.medium div.description {
	float: left;
	width: 356px;
	min-height: 112px;
	background: #808284 url(/media/images/background-box-medium-corner.gif) no-repeat right bottom;	
	border-left: 1px solid #666;
	}
#wrap.shots #content div.box.medium div.description div.heading {
	text-align: right;
	background: url(/media/images/image-divider-box-dashboard.gif) repeat-x left bottom;	
	}	
#wrap.shots #content div.box.medium div.description div.heading p {
	padding: 3px 10px 3px 10px;
	margin: 0;
	}	
#wrap.shots #content div.box.medium div.description div.heading p.status {
	float: left;
	}
#wrap.shots #content div.box.medium div.description div.heading p.last_update {;
	padding: 3px 0 5px 10px;
	background: url(/media/images/image-divider-box-dashboard.gif) repeat-x left top;	
	text-align: left;
	}		
#wrap.shots #content div.box.medium div.description h4 {
	margin: 0 0 0 10px;
	font-weight: bold;
	}	
#wrap.shots #content div.box.medium div.description p {
	padding: 0 10px 10px 10px;
	line-height: 18px;
	}	
#wrap.shots #content div.box.medium div.clear {
	height: 0px;
	}	
		
/* Box - Large
 * ------------------------------------------------------------ */	
 
#content div.box.large {
	background: url(/media/images/background-box-wide.gif) repeat-y;
	margin: 0 0 10px 0;
	}
#content div.box.large div.bottom {
	height: 10px;
	background: url(/media/images/background-box-wide-bottom.gif) no-repeat 0px 0px;
	}	
#content div.box.large h3 {
	height: 27px;
	line-height: 28px;
	padding: 0 0 0 15px;
	background: url(/media/images/background-box-wide-header.gif) repeat-y;
	}
#content div.box.large ul.heading {
	height: 18px;
	line-height: 17px;
	margin: 0 6px 0 1px;	
	padding: 0;
	background: url(/media/images/background-box-heading.gif) repeat-x left top;
	}		
#content div.box.large ul.heading li {	
	display: block;
	float: left;
	padding: 0 0 0 8px;
	background: url(/media/images/background-table-heading.gif) no-repeat right top;
	font-weight: bold;
	text-shadow: #bbb 1px 1px 1px;	
	}
#content div.box.large ul li.date,
#content div.box.large ul.entries li span.date {
	width: 90px;
	}	
#content div.box.large ul.heading li.author {
	width: 70px;	
	}
#content div.box.large ul.entries li span.author {
	width: 68px;	
	border-right: 1px solid #717171;
	border-left: 1px solid #717171;	
}	
#content div.box.large ul.heading li.activity {
	width: 599px;
	}
#content div.box.large ul.entries li {
	clear: both;
	position: relative;
	height: 24px;
	line-height: 24px;
	margin: 0 6px 0 1px;
	border-bottom: 1px solid #717171;
	overflow: hidden;
	}		
#content div.box.large ul.entries li.last {
	margin: 0 5px 0 0;
	padding: 0 1px 2px 1px;	
	border: none;
	background: url(/media/images/background-box-wide-bottom.gif) no-repeat left bottom;	
	}	
#content div.box.large ul.entries li span {
	display: block;
	float: left;
	padding: 0 0 0 8px;
	overflow: hidden;
	}	
#content div.box.large ul.entries li span.highlight {
	background-color: #77797b;
	}	
#content div.box.large ul.entries li span.activity a {
	display: block;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 14px;
	height: 16px;
	margin: 5px 5px 0 0;
	background: url(/media/images/icon-arrow.gif) no-repeat;
	text-indent: -9999px;
	}
#content div.box.large ul.entries li.hover span.activity a,
#content div.box.large ul.entries li.lastHover span.activity a {
	background: url(/media/images/icon-arrow-hover.gif) no-repeat;	
	} 	
#content div.box.large ul.entries li.hover span.activity,
#content div.box.large ul.entries li.hover span.activity.highlight,
#content div.box.large ul.entries li.lastHover span.activity,
#content div.box.large ul.entries li.lastHover span.activity.highlight {
	background-position: 8px -24px;
	background-repeat: no-repeat;
	}
#content div.box.large ul.entries li span.activity {
	width: 575px;
	padding: 0 0 0 32px;
	background-repeat: no-repeat;
	background-position: 8px 0px;
	}
#content div.box.large ul.entries li span.activity.shot.updated,
#content div.box.large ul.entries li span.activity.render.updated {
	background-image: url(/media/images/icon-shot-update.gif);
	}
#content div.box.large ul.entries li span.activity.shot.created,
#content div.box.large ul.entries li span.activity.render.created {
	background-image: url(/media/images/icon-shot-create.gif);
	}	
#content div.box.large ul.entries li span.activity.note.commented {
	background-image: url(/media/images/icon-comment-create.gif);
	}
#content div.box.large ul.entries li span.activity.note.marked {
	background-image: url(/media/images/icon-comment-mark.gif);
	}
#content div.box.large ul.entries li span.activity.note.deleted {
	background-image: url(/media/images/icon-comment-delete.gif);
	}
#content div.box.large ul.entries li span.activity.element.checked {
	background-image: url(/media/images/icon-element-create.gif);
	}	
#content div.box.large ul.entries li span.activity.highlight {
	background-position: 8px -48px;
	}		
	
/* Elements Browser */

#elements_browser {
	width: 620px;
	margin: 20px auto 0 auto;
	padding: 1px 0 0 0;
	background: url(/media/images/background-element_browser.png) repeat-y left bottom;
	}	
#elements_browser h3 {
	width: 620px;
	height: 38px;
	line-height: 48px;
	margin: -20px 0 0 0;
	background: url(/media/images/background-elements_browser-top.png) no-repeat left bottom;
	text-align: center;
	text-shadow: #ccc 1px 1px 1px;	
	font-weight: bold;
	}	
#elements_browser select {
	float: left;
	margin: 5px 10px;
	}	
#elements_browser p {
	margin: 5px 0;
	line-height: 25px;
	}	
#elements_browser form {
	width: 600px;
	padding: 0 10px 25px 10px;
	background: url(/media/images/background-element_browser-bottom.png) no-repeat left bottom;
	}	
#elements_browser #elements {
	clear: both;
	height: 345px;
	overflow-y: scroll;
	margin: 5px 10px 10px 10px;
	background: #fff;
	border: 1px solid #9f9f9f;
	}	
#elements_browser #elements li {
	padding: 0 5px 0 22px;
	font-size: 12px;
	}	
#elements_browser #elements li.element {
	background: url(/media/images/icon-element-small-grey.gif) no-repeat 9px 4px;
	}
#elements_browser #elements li.folder {
	background: url(/media/images/icon-folder-small-grey.gif) no-repeat 6px 4px;
	}		
#elements_browser #elements li.element:hover {
	background: #5e5e5e url(/media/images/icon-element-small-white.gif) no-repeat 9px 4px;	
	}	
#elements_browser #elements li.folder:hover {
	background: #5e5e5e url(/media/images/icon-folder-small-white.gif) no-repeat 6px 4px;	
	}
#elements_browser #elements li a {
	color: #333;
	text-decoration: none;
	}	
#elements_browser #elements li.element:hover a,
#elements_browser #elements li.folder:hover a {
	color: #fff;
	}
#elements_browser a.cancel {
	display: block;
	float: right;
	width: 79px;
	height: 26px;
	background: url(/media/images/button-cancel-browser.gif) no-repeat left top;
	text-indent: -9999px;
	}	
#elements_browser button {
	display: block;
	float: right;	
	width: 89px;
	height: 26px;
	margin: 0 10px;
	background: url(/media/images/button-choose-browser.gif) no-repeat left top;
	border: none;
	text-indent: -9999px;
	}	
	
/* Forms
 * ------------------------------------------------------------ */ 	
 
div.left form {
	padding: 10px 10px 0 10px;
	}
div.left form textarea {
	width: 520px;
	height: 90px;
	line-height: 18px;
	background: #c1c3c4;
	border: 1px solid #6c6d6f;
	}
div.left form p {
	position: relative;
	margin: 5px 2px;
	}	
div.left form p input {
	position: absolute;
	right: 0px;
	top: 0px;
	}	
div.left form #form-element-checkIn-file {
	display: block;
	float: left;
	width: 113px;
	height: 26px;
	margin: 5px 0 15px 0;
	background: url(/media/images/button-choose.gif) no-repeat left top;
	text-indent: -9999px;
	}
#content div.left div.box.medium form select.replaced {
	display: none;
	}
#content div.left div.box.medium form ul.selectReplacement {
	position: absolute;
	z-index: 100;
	left: 65px;
	top: 0px;
	width: 137px;
	background: url(/media/images/background-select-top.gif) top left no-repeat;	
	}
#notes #content div.left div.box.medium form ul.selectReplacement {
	left: 120px;
	}
#content div.left div.box.medium form ul.selectReplacement.selectOpen {
	border-bottom: 1px solid #333;	
	}	
#content div.left div.box.medium form ul.selectReplacement li {
	display: none;	
	width: 127px;	
	height: 22px;
	line-height: 22px;
	padding: 0 0 0 10px;
	cursor: pointer;
	}
#content div.left div.box.medium form ul.selectOpen li {
	display: block;
	}
#content div.left div.box.medium form ul.selectReplacement li.selected {
	background: url(/media/images/background-select-highlight.gif) bottom left no-repeat;
	display: block;
	}
#content div.left div.box.medium form ul.selectOpen li.selected {
	background: none;
	display: block;
	}	
#content div.left div.box.medium form ul.selectReplacement.selectOpen li.hover {
	width: 125px;
	border-right: 1px solid #6c6d6f;
	border-left: 1px solid #6c6d6f;	
	background: #555;
	color: #fff;
	cursor: pointer;
	}
div.left form #displayed_selected_element {
	float: left;
	height: 22px;
	line-height: 22px;
	margin: 6px 0 15px 8px;
	padding: 0px 10px;
	background: #7a7a7c;
	border: 1px solid #4f5153;
	}		

/* Login Page
 * ------------------------------------------------------------ */

#login-wrap {
	width: 593px;
	margin: 0 auto;
	padding: 40px 0 0 0;
	}	
#login-wrap h1 {
	position: relative;
	margin: 0 0 40px 0;
	text-align: center;	
	}	
#login-wrap #content{
	padding: 0;
	background: #808284 url(/media/images/background-login_wrap.gif) no-repeat left bottom;
	} 
#login-wrap #content h3 {
	position: relative;
	height: 27px;
	line-height: 27px;
	padding: 0 15px;
	background: url(/media/images/background-login_wrap-header.gif) no-repeat left top;
	color: #000;
	text-shadow: #d3d3d3 1px 1px 1px;	
	font-weight: bold;
	}	
#login-wrap #content h3 span {
	position: absolute;
	right: 15px;
	top:0px;
	}	
#login-wrap #content form {
	margin: 0 0 0 75px;
	}	
#login-wrap #content p.intro,
#login-wrap #content p.error {
	padding: 3px 15px;
	background: #8f9091;
	color: #333;
	border-bottom: 1px solid #6c6d6f;
	text-align: center;
	}	
#login-wrap #content p.error {
	color: #9c060b;
	}	
#login-wrap #content form {
	padding: 10px 15px;
	}	
#login-wrap #content form p {
	margin: 0 0 10px 0;
	}	
#login-wrap #content form p a {
	color: #33373e;
	font-size: 11px;
	text-decoration: none;
	}	
#login-wrap #content form p a:hover {
	text-decoration: underline;
	}	
#login-wrap #content form p.last {
	padding: 0 0 0 80px;
	color: #252b34;
	font: bold 12px "Lucida Grande", verdana, sans-serif;
	text-shadow: #aaa 1px 1px 1px;	
	}	
#login-wrap #content form p.last button {
	width: 85px;
	height: 27px;
	margin: 0 0 0 10px;
	background: url(/media/images/button-login.gif) no-repeat left top;
	border: none;
	text-indent: -9999px;
	}	
#login-wrap #content form label {
	display: block;
	float: left;
	width: 90px;
	color: #252b34;
	font: bold 14px/28px "Lucida Grande", verdana, sans-serif;
	text-shadow: #aaa 1px 1px 1px;
	}	
#login-wrap #content form input {
	width: 308px;
	height: 23px;
	padding: 5px 0 0 5px;
	background: url(/media/images/background-login-input.gif) no-repeat left top;
	border: none;
	font-size: 14px;
	}	
#login-wrap #footer {
	padding: 5px 0 0 0;
	color: #6c6d6f;
	text-align: center;
	font-size: 11px;
	}	
#login-wrap #footer a {
	color: #fff;
	text-decoration: none;
	}	
#login-wrap #footer a:hover {
	text-decoration: underline;
	}