{% extends "informer/project_base.html" %}

{% block project_title %}Projects{% endblock %}
{% block body_id %}projects{% endblock %}
{% block project_nav_title %}Projects{% endblock %}

{% block project_content %}
  {% if object_list.count %}
  {% for project in object_list %}
    <div class="box medium">
        <h3>{{ project.name }}<a href="{{ project.get_absolute_url }}" title="Launch Project" class="launch_project">Launch Project</a></h3>
        <img src="/media/{{ project.branding }}" alt="{{ project.name }}" class="thumbnail" />
        <ul class="meta">
          <li><strong>Client:</strong> {{ project.client }}</li>
          <li><strong>Due Date:</strong> {{ project.due_date }}</li>
          <li><strong>Shots:</strong> {{ project.shot_count }}</li>
          <li><strong>Status:</strong> {{ project.status }}</li>          
        </ul>
			<div class="clear">&nbsp;</div>
    </div>
  {% endfor %}
  {% else %}
  <p>No projects</p>
  {% endif %}
{% endblock %}

{% block project_filters %}
      <div class="box small">
        <h3>Status</h3>
        <ul>
          <li class="highlight"><a href="#" title="#">Show All</a></li>
          <li><a href="#" title="#">Open (1)</a></li>
          <li class="last"><a href="#" title="#">Closed (3)</a></li>
        </ul>
      </div>
      <div class="box small">
        <h3>Shots</h3>
        <ul>
          <li class="highlight"><a href="#" title="#">Show All</a></li>
        </ul>
      </div>
      <div class="box small">
        <h3>Due Date</h3>
        <ul>
          <li class="highlight"><a href="#" title="#">Show All</a></li>
        </ul>
      </div>
{% endblock %}
