{% extends "informer/project_base.html" %}

{% block project_title %}{{ project.name }}{% endblock %}
{% block body_id %}shots{% endblock %}

{% block project_nav_title %}{{ project.name }}{% endblock %}

{% block project_nav_sort %}
    <li><strong>Sort By:</strong></li>
    <li><a id=sort_by_name             href="javascript:sort_table(shots,'name')" title="Sort by Name" class="highlight">Name</a></li>
    <li><a id=sort_by_status           href="javascript:sort_table(shots,'status')" title="Sort by Status">Status</a></li>
    <li><a id=sort_by_last_modified    href="javascript:sort_table(shots,'last_modified')" title="Sort by Last Updated">Last Updated</a></li>
{% endblock %}

{% block project_content %}
    <ul class="entries" id="shots_entries"></ul>
{% endblock %}

{% block project_filters %}
    <div class="box small">
        <h3>Status</h3>
        <ul id=filter_status></ul>
        <div class="bottom"></div>
    </div>
    <div class="box small">
        <h3>Last Edited By</h3>
        <ul id=filter_last_modified_by></ul>
        <div class="bottom"></div>        
    </div>
{% endblock %}

{% block project_script %}
function generate_row_shot(item) {
    var a = document.createElement('A');
    a.href = getattr(item, 'fields.url');
    a.title = 'Launch Shot';
    a.className = 'launch_project';
    a.appendChild(document.createTextNode('Launch Shot'));

    var h3 = document.createElement('H3');
    h3.appendChild(document.createTextNode(getattr(item, 'fields.name')));
    h3.appendChild(a);

    var div = document.createElement('DIV');
    div.className = 'box medium';
    div.appendChild(h3);


    var container = document.createElement('SPAN');
    container.className = 'video';

    var video = document.createElement('DIV');
    video.id = 'video_' + getattr(item, 'fields.name');
    container.appendChild(video);
    div.appendChild(container);

    var movie_url = getattr(item, 'fields.render_movie_lo_url');
    MiniFlashPlayer(movie_url, movie_url, video.id);

    var heading = document.createElement('DIV');
    heading.className = 'heading';

    var p_classes = ['status', 'length', 'last_update', 'last_update'];
    var labels    = ['Status:', 'Frames:', 'Last Updated:', 'Last Modified By:'];
    var fields    = ['fields.status', 'fields.frames', 'fields.last_modified', 'fields.last_modified_by'];
    var columns   = [c_status, c_length, c_mod_on, c_mod_by];

    for (var i=0; i<columns.length; i++) {
        var label = document.createElement('STRONG');
        label.appendChild(document.createTextNode(labels[i]));
        var text = document.createElement('SPAN');
        text.appendChild(document.createTextNode(' ' + getattr(item, columns[i])));
        var p = document.createElement('P');
        p.className = p_classes[i];
        p.appendChild(label);
        p.appendChild(text);
        heading.appendChild(p);        
    }
    var clear = document.createElement('DIV');
    clear.className = 'clear';
    heading.appendChild(clear);

    var desc = document.createElement('DIV');
    desc.className = 'description';
    desc.appendChild(heading);

    var h4 = document.createElement('H4');
    h4.appendChild(document.createTextNode('Description:'));
    desc.appendChild(h4);

    var p = document.createElement('P');
    p.appendChild(document.createTextNode(getattr(item, c_desc)));
    desc.appendChild(p);

    div.appendChild(desc);

    var clear = document.createElement('DIV');
    clear.className = 'clear';
    div.appendChild(clear);

    return div;
}

/* called when page first loaded, initialize data */
function setup() {
    c_name      = new Informer.TextColumn('name', 'fields.name');
    c_status    = new Informer.TextColumn('status', 'fields.status');
    c_mod_by    = new Informer.UserColumn('last_modified_by', 'fields.last_modified_by');
    c_mod_on    = new Informer.DateTimeColumn('last_modified', 'fields.last_modified');
    c_length    = new Informer.TextColumn('length', 'fields.frames');
    c_desc      = new Informer.TextColumn('description', 'fields.description');

    c_name.is_default = true;

    f_status = new Informer.Filter(c_status);
    f_mod_by = new Informer.Filter(c_mod_by);
    
    var row_1   = [c_name, c_status, c_mod_by];
    var filters = [f_status, f_mod_by];

    shots = new Informer.Data('shots', row_1, null, filters);
    shots.generate_row = generate_row_shot;
    shots.load_data({{ data }});
}

setup();
{% endblock %}

