  {% extends "informer/base.html" %}
  {% block content %}
  <!-- start WRAP -->
  <div id="wrap">
    <!-- start HEADER -->      
    <div id="header">
      <ul id="breadcrumb">
	<li><h1><a href="/" title="Home" id="logo">Informer</a></h1></li>
      </ul>
      <ul id="login">
	<li>Welcome {{ user.username }}</li>
	{% if user.is_staff %}
	<li><a href="/admin" title="Admin">Admin</a></li>
	{% endif %}
	<li><a href="/accounts/logout" title="Log Out">Log Out</a></li>
      </ul>
      <ul id="nav">
	<li>Open Projects</li>
      </ul>
    </div>
    <!-- end HEADER -->

    <!-- start CONTENT -->
    <div id="content">
      <div class="left">
	<div class="box medium">
	  <ul class="entries" id="projects_entries">
	  </ul>
	  <div class="bottom">&nbsp;</div>

	  <table>
	    <caption>temporary list</caption>
	    <tr><th>Name</th>
	    <th>Description</th>
	    </tr>
	    {% for project in object_list %}
	    <tr>
	      <td><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></td>
	      <td>{{ project.description }}</td>
	    </tr>
	    {% endfor %}
	  </table>
	</div>
      </div>

      <div class="right">
          <div class="box small">
            <h3>Status</h3>
            <ul>
              <li class="highlight"><a href="#" title="#">Show All</a></li>
              <li><a href="#" title="#">Open (1)</a></li>
              <li class="last"><a href="#" title="#">Closed (3)</a></li>
            </ul>
          </div>
          <div class="box small">
            <h3>Shots</h3>
            <ul>
              <li class="highlight"><a href="#" title="#">Show All</a></li>
            </ul>
          </div>
          <div class="box small">
            <h3>Due Date</h3>
            <ul>
              <li class="highlight"><a href="#" title="#">Show All</a></li>
            </ul>
          </div>
      </div>
        <div class="clear">&nbsp;</div>
	{# TODO partialize #}

    </div>
    <!-- end content -->

  </div>
  <!-- end WRAP -->

  <script type="text/javascript">


{% block script %}

/* Projects functions
 * ------------------------------------------------------ */

/* called when page first loaded, initialize data */
function setup() {
  Projects = new Informer.Data(
    'projects', // name
    [{ field: 'fields.name' }], // row_1
    [{ field: 'fields.description'}]); //row_2

    Projects.url = '{{ json_url}}', 
    Projects.load_data({{ data }});
}

Event.observe(window, 'load', setup);

{% endblock %}


  </script>
  <iframe src="about:blank" name="qtFrame" width="0" height="0" style="border: none; background-color: transparent;" id="qtFrame"></iframe>
  {% endblock %}


