{% extends "informer/project_base.html" %}

{% block project_title %}Projects{% endblock %}
{% block body_id %}projects{% endblock %}

{% block project_nav_title %}Projects{% endblock %}

{% block project_nav_sort %}
    <li><strong>Sort By:</strong></li>
    <li><a id=sort_by_name     href="javascript:sort_table(projects,'name')" title="Sort by Name" class="highlight">Name</a></li>
    <li><a id=sort_by_status   href="javascript:sort_table(projects,'status')" title="Sort by Status">Status</a></li>
    <li><a id=sort_by_due_date href="javascript:sort_table(projects,'due_date')" title="Sort by Due Date">Due Date</a></li>
{% endblock %}

{% block project_content %}
    <ul class="entries" id="projects_entries"></ul>
{% endblock %}

{% block project_filters %}
    <div class="box small">
        <h3>Client</h3>
        <ul id=filter_client></ul>
    </div>
    <div class="box small">
        <h3>Status</h3>
        <ul id=filter_status></ul>
    </div>
{% endblock %}

{% block project_script %}
function generate_row_project(item) {
    var a = document.createElement('A');
    a.href = getattr(item, 'fields.url');
    a.title = 'Launch Project';
    a.className = 'launch_project';
    a.appendChild(document.createTextNode('Launch Project'));

    var h3 = document.createElement('H3');
    h3.appendChild(document.createTextNode(getattr(item, 'fields.name')));
    h3.appendChild(a);

    var div = document.createElement('DIV');
    div.className = 'box medium';
    div.appendChild(h3);

    var img = document.createElement('IMG');
    img.src = getattr(item, 'fields.branding');
    img.alt = getattr(item, 'fields.name');
    img.className = 'thumbnail';
    div.appendChild(img);

    var fields = ['fields.client', 'fields.due_date', 'fields.shot_count', 'fields.status'];
    var titles = ['Client', 'Due Date', 'Shots', 'Status'];

    var ul = document.createElement('UL');
    ul.className = 'meta';

    for (var i=0; i<fields.length; i++) {
        var li = document.createElement('LI');
        var strong = document.createElement('STRONG');
        strong.appendChild(document.createTextNode(titles[i] + ':'));
        li.appendChild(strong);
        var span = document.createElement('SPAN');
        span.appendChild(document.createTextNode(' ' + getattr(item, fields[i])));
        li.appendChild(span);
        ul.appendChild(li);
    }

    div.appendChild(ul);

    var clear = document.createElement('DIV');
    clear.className = 'clear';
    clear.appendChild(document.createTextNode(' '));
    div.appendChild(clear);

    return div;
}

/* called when page first loaded, initialize data */
function setup() {
  
  projects = new Informer.Data(
    'projects', // name
    [ // row 1
      {name: 'name',
       field: 'fields.name',
       sorter: sort_by_string,
       is_default: true},
      {name: 'due_date',
       field: 'fields.due_date',
       sorter: sort_by_date,
       formatter: format_date,
       parser: parse_date},
      {name: 'status',
       field: 'fields.status',
       sorter: sort_by_string},
    ],
    null,
    [ // filter_list
      new Informer.Filter('filter_client',      'fields.client'),
      new Informer.Filter('filter_status',      'fields.status'),
    ]); 

    projects.generate_row = generate_row_project;
    projects.load_data({{ data }});
}

setup();
{% endblock %}
