{% extends "informer/project_base.html" %}

{% block project_title %}{{ project.name }}{% endblock %}
{% block body_id %}shots{% endblock %}

{% block project_nav_title %}{{ project.name }}{% endblock %}

{% block project_nav_sort %}
    <li><strong>Sort By:</strong></li>
    <li><a id=sort_by_name             href="javascript:sort_table(shots,'name')" title="Sort by Name" class="highlight">Name</a></li>
    <li><a id=sort_by_status           href="javascript:sort_table(shots,'status')" title="Sort by Status">Status</a></li>
    <li><a id=sort_by_last_modified    href="javascript:sort_table(shots,'last_modified')" title="Sort by Last Updated">Last Updated</a></li>
{% endblock %}

{% block project_content %}
    <ul class="entries" id="shots_entries"></ul>
{% endblock %}

{% block project_filters %}
    <div class="box small">
        <h3>Status</h3>
        <ul id=filter_status></ul>
    </div>
    <div class="box small">
        <h3>Last Edited By</h3>
        <ul id=filter_last_modified_by></ul>
    </div>
{% endblock %}

{% block project_script %}
function generate_row_shot(item) {
    var a = document.createElement('A');
    a.href = getattr(item, 'fields.url');
    a.title = 'Launch Shot';
    a.className = 'launch_project';
    a.appendChild(document.createTextNode('Launch Shot'));

    var h3 = document.createElement('H3');
    h3.appendChild(document.createTextNode(getattr(item, 'fields.name')));
    h3.appendChild(a);

    var div = document.createElement('DIV');
    div.className = 'box medium';
    div.appendChild(h3);

    var movie = document.createElement('SPAN');
    movie.className = 'video';
    var movie_url = getattr(item, 'fields.render_movie_lo_url');
    movie.appendChild(getMiniFlashPlayer(movie_url, movie_url, 160, 90, false));
    div.appendChild(movie);

    var heading = document.createElement('DIV');
    heading.className = 'heading';

    var p_classes = ['status', 'length', 'status'];
    var labels    = ['Status:', 'Frames:', 'Last Updated:'];
    var fields    = ['fields.status', 'fields.frames', 'fields.last_modified'];

    for (var i=0; i<fields.length; i++) {
        var label = document.createElement('STRONG');
        label.appendChild(document.createTextNode(labels[i]));
        var text = document.createElement('SPAN');
        text.appendChild(document.createTextNode(' ' + getattr(item, fields[i])));
        var p = document.createElement('P');
        p.className = p_classes[i];
        p.appendChild(label);
        p.appendChild(text);
        heading.appendChild(p);        
    }
    var clear = document.createElement('DIV');
    clear.className = 'clear';
    heading.appendChild(clear);

    var desc = document.createElement('DIV');
    desc.className = 'description';
    desc.appendChild(heading);

    var h4 = document.createElement('H4');
    h4.appendChild(document.createTextNode('Description:'));
    desc.appendChild(h4);

    var p = document.createElement('P');
    p.appendChild(document.createTextNode(getattr(item, 'fields.description')));
    desc.appendChild(p);

    div.appendChild(desc);

    var clear = document.createElement('DIV');
    clear.className = 'clear';
    div.appendChild(clear);

    return div;
}

/* called when page first loaded, initialize data */
function setup() {
    shots = new Informer.Data(
        'shots', // name
        [ // row 1
          {name: 'name',
           field: 'fields.name',
           sorter: sort_by_string,
           is_default: true},
          {name: 'status',
           field: 'fields.status',
           sorter: sort_by_string},
          {name: 'last_modified_by',
           field:'fields.last_modified_by',
           sorter: sort_by_string,
           formatter: format_author},
        ],
        null,
        [ // filter_list
          new Informer.Filter('filter_status',      'fields.status'),
          new Informer.Filter('filter_last_modified_by',  'fields.last_modified_by',  format_author),
        ]); 

    shots.generate_row = generate_row_shot;
    shots.load_data({{ data }});
}

setup();
{% endblock %}

