{% extends "informer/shot_detail_base.html" %}

{% block shot_title %}Notes{% endblock %}

{% block body_id %}notes{% endblock %}

{% block shot_content %}
        <div class="left">
          <div class="box medium">
            <h3>Add a note</h3>
            <form id="form-note-create" action="#" method="post">
              <input type="hidden" name="is_checked" value="false" />
              <textarea name="text" id="form-note-create-message"></textarea>
              <p>
                <strong>Assign this task to:</strong>
                <select name="assigned_to" id="form-note-create-assign"><option value="">Anyone</option>
                {% for user in users %}
                <option value="{{user.username}}">{{ user.username }}</option>
                {% endfor %}
                </select>
                <input type="image" id="form-note-create-submit" src="/media/images/button-addNote.gif" onclick="add_note();return false;"/>
              </p>
            </form>
            <div class="bottom">&nbsp;</div>
          </div>
          <div class="box medium">
            <h3>All Notes</h3>
            <ul class="heading" id="notes_heading">
              <li class="date down highlight" onclick="notes.resort_table('date'); highlightHeading(this, notes);">Date</li>
              <li class="author" onclick="notes.resort_table('author'); highlightHeading(this, notes);">Author</li>
              <li class="assignedTo" onclick="notes.resort_table('assignedTo'); highlightHeading(this, notes);">Assigned To</li>
              <li class="status" onclick="notes.resort_table('status'); highlightHeading(this, notes);">Status</li>
            </ul>
            <ul class="entries" id="notes_entries">
            </ul>
            <div class="bottom">&nbsp;</div>
          </div>
        </div>
        <div class="right">
          <div class="box small">
            <h3>Status</h3>
            <ul id='filter_status'></ul>
            <div class="bottom"></div>
          </div>
          <div class="box small">
            <h3>Author</h3>
            <ul id='filter_author'></ul>
            <div class="bottom"></div>            
          </div>
          <div class="box small">
            <h3>Assigned To</h3>
            <ul id='filter_assignedTo'></ul>
            <div class="bottom"></div>            
          </div>
        </div>
        <div class="clear">&nbsp;</div>
      </div>
{% endblock %}

{% block shot_script %}
/* Notes functions
 * ------------------------------------------------------ */

// Generates status row with click event
function create_status_item(info, item) {
    var value = getattr(item, info);
    var status_li = document.createElement('li');
    status_li.className = info.name;
    var status_a = document.createElement('a');
    Element.extend(status_a);
    status_a.appendChild(document.createTextNode(value));
    status_li.appendChild(status_a);
    status_a.observe(
      'click',
      function() {new Ajax.Request(
        Notes.url, {
        parameters: {id: 'test'},
	onComplete: function() {
	alert('success');}}) });

    return status_li; };

/* called when page first loaded, initialize data */
function setup() {
    c_date      = new Informer.DateColumn('date', 'fields.created_on');
    c_author    = new Informer.UserColumn('author', 'fields.created_by');
    c_assigned  = new Informer.AssignedUserColumn('assignedTo', 'fields.assigned_to');
    c_status    = new Informer.NoteStatusColumn('status', 'fields.is_checked');
    c_text      = new Informer.ParagraphColumn('text', 'fields.text');

    c_date.is_default = true;

    f_status    = new Informer.Filter(c_status);
    f_author    = new Informer.Filter(c_author);
    f_assigned  = new Informer.Filter(c_assigned);

    var row_1   = [c_date, c_author, c_assigned, c_status];
    var filters = [f_status, f_author, f_assigned];

    notes = new Informer.Data('notes', row_1, c_text, filters);
    notes.generate_row = generate_row_double;
    notes.load_data({{ data }});
    notes.resort_table('date');
}

/* called when user clicks on the 'Add Note' button */
function add_note() {
    // make sure the user entered something
    if (!$F('form-note-create-message')) {
        alert('Please enter a note first');
        return;
    }

    // fire off the request to the server to create the note
    new Ajax.Request('{{shot.get_json_notes_url}}', {
        parameters: $('form-note-create').serialize(),
        evalJSON:   true,
        onSuccess:  function (r) {
            // Ajax callback triggered after a user clicks the 'Add Note' button
            $('form-note-create').reset();	
            styleSelects();
            notes.add_data(r.responseJSON[0]);
            notes.resort_table();
        },
    });
}

function delete_note(item) {
    var url = '{{shot.get_json_notes_url}}' + getattr(item, 'pk') + '/';

    new Ajax.Request(url, {
        method:     'delete',
        evalJSON:   true,
        onSuccess:  function (r) {
            // Ajax callback triggered when a user successfully deletes a note
            notes.delete_data(item);
            notes.resort_table();
        },
    });
}

/* onclick handler called when a user toggles the note status */
function toggle_note_status(item) {
    var url = '{{shot.get_json_notes_url}}' + getattr(item, 'pk') + '/';
    var status = !getattr(item, 'fields.is_checked');

    new Ajax.Request(url, {
        parameters: 'is_checked='+status,
        method:     'put',
        evalJSON:   true,
        onSuccess:  function (r) {
            // Ajax callback triggered when a user successfully toggle's note status
            notes.update_data(r.responseJSON[0]);
            notes.resort_table();
        },
    });
}

// onload trigger
setup();
{% endblock %}
