{% extends "informer/shot_detail_base.html" %}

{% block body_id %}overview{% endblock %}

{% block content %}
<div class="box large">
    <h3>Recent Activity</h3>
    <ul class="heading" id="overview_heading">
        <li class="date down highlight" onclick="overview.resort_table('date'); highlightHeading(this,overview);">Date</li>
        <li class="author" onclick="overview.resort_table('author'); highlightHeading(this,overview);">Author</li>
        <li class="activity" onclick="overview.resort_table('activity'); highlightHeading(this,overview);">Activity</li>
    </ul>
    <ul class="entries" id="overview_entries">
    </ul>
</div>
{% endblock %}

{%block script %}
function create_log(info) {
    spanClass  = 'activity ';
    spanClass += getattr(info, 'fields.type').toLowerCase();
    spanClass += " ";
    spanClass +=  getattr(info, 'fields.msg_prefix').toLowerCase();
    spanClass += " ";
    spanClass += getattr(info, 'fields.object_id');

    var span = document.createElement('span');
    span.className = spanClass;

    var obj = getattr(info, 'fields.object_repr');
    var prefix = getattr(info, 'fields.msg_prefix');
    var suffix = getattr(info, 'fields.msg_suffix');
    var t = getattr(info, 'fields.type');
  
    if (t == 'Note') {
        var q = document.createElement('q');
        var parts = obj.split(/\s/);
        if (parts.length > 10) {
            parts = parts.slice(0,10);
            parts.push('...');
		}
		obj = parts.join(' ');
        q.appendChild(document.createTextNode(obj));
        obj = q;
    } else {
        obj = document.createTextNode(obj);
    }
  
    if (prefix)
        span.appendChild(document.createTextNode(prefix + ' '));
    if (obj)
        span.appendChild(obj);
    if (suffix && t!='Shot')
        span.appendChild(document.createTextNode(' ' + suffix));

    if (getattr(info, 'fields.msg_prefix').split(/\s/)[0].toLowerCase() != "deleted") {
        // Add Rollover link if log item not for deletion
		var link = document.createElement('A');
	    var link_text = document.createTextNode("View " + getattr(info, 'fields.type').toLowerCase());
	    link.appendChild(link_text);
	    link.title = "View " + getattr(info, 'fields.type').toLowerCase();
	    if (getattr(info, 'fields.type').toLowerCase() == "note")
	       link.href = "notes/#" + getattr(info, 'fields.object_id');
	    else if (getattr(info, 'fields.type').toLowerCase() == "element")
	       link.href = "elements/#" + getattr(info, 'fields.object_id');	
	    else if (getattr(info, 'fields.type').toLowerCase() == "render")
	       link.href = "renders/#" + getattr(info, 'fields.object_id');

	    span.appendChild(link);
    } else {
        // If deleted, remove link from log where item was created
	    spans = $('overview_entries').getElementsByTagName('span');
	    
	    for(var i=0; i<spans.length; i++) {
		    if(spans[i].hasClassName(getattr(info, 'fields.object_id'))) {
				if(dead_link = spans[i].getElementsByTagName('A')[0])
					dead_link.parentNode.removeChild(dead_link);
		    }
	    }
    }
    
    return span;
}

function setup() {
  overview = new Informer.Data(
    'overview', // name
    [ // row_1
      {name: 'date',
       field: 'fields.when',
       sorter: sort_by_date,
       formatter: format_date,
       parser: parse_date,
       is_default: true},
      {name: 'author',
       field:'fields.who',
       sorter: sort_by_string},
      {name: 'activity',
       field: 'fields.msg_prefix',
       create_func: create_log,
       sorter: sort_by_string}
    ],
    null, // row_2
    null // no filters
    );

    overview.url = '{{ shot.get_json_logs_url }}';
    overview.load_data({{ data }});
    addIEOverviewHoverStyles();
}

// onload trigger
setup();
{% endblock %}
