{% extends "informer/shot_detail_base.html" %}

{% block body_id %}renders{% endblock %}

{% block content %}
        <div class="left">
          <div class="box medium">
          <h3>Render History</h3>
          <ul class="heading" id="renders_heading">
            <li class="date down highlight" onclick="renders.resort_table('date'); highlightHeading(this,renders);">Date</li>
            <li class="machine" onclick="renders.resort_table('machine'); highlightHeading(this,renders);">Machine</li>
            <li class="artist" onclick="renders.resort_table('artist'); highlightHeading(this,renders);">Artist</li>
          </ul>
          <ul class="entries" id="renders_entries">
          </ul>
            <div class="bottom">&nbsp;</div>
          </div>
        </div>
        <div class="right">
          <div class="box small">
            <h3>Machine</h3>
            <ul id='filter_machine'>
            </ul>
          </div>
          <div class="box small">
            <h3>Artist</h3>
            <ul id='filter_artist'>
            </ul>
          </div>
        </div>
        <div class="clear">&nbsp;</div>
      </div>
{% endblock %}

{% block script %}

/* Renders functions
 * ------------------------------------------------------ */

/* called when user clicks the play button for a row */
function load_render_callback(item) {
    load_render(
        getattr(item, 'pk'),
        getattr(item, 'fields.movie_hi'),
        getattr(item, 'fields.movie_lo'),
        getattr(item, 'fields.created_by'),
        getattr(item, 'fields.created_on'),
        getattr(item, 'fields.host'),
        getattr(item, 'fields.setup')
    );

    // redraw the table to update the currently selected row...
    renders.draw();
}

/* called when page first loaded, initialize data */
function setup() {
  renders = new Informer.Data(
    'renders', // name
    [ // row_1
      {name: 'date',
       field: 'fields.created_on',
       sorter: sort_by_date,
       formatter: format_date,
       parser: parse_date,
       is_default: true},
       {name: 'machine',
        field: 'fields.host',
        sorter: sort_by_string},
      {name: 'artist',
       field:'fields.created_by',
       formatter: format_author,
       sorter: sort_by_string},
    ],
    { //row_2
     field: 'fields.setup',
    },
    [ // filter_list
      new Informer.Filter('filter_machine', 'fields.host'),
      new Informer.Filter('filter_artist',  'fields.created_by', format_author)
    ]);

    renders.url = '{{shot.get_json_renders_url}}';
    renders.load_data({{ data }});
}

// onload trigger
setup();
{% endblock %}
