{% extends "informer/shot_detail_base.html" %}

{% block shot_title %}Elements{% endblock %}
{% block body_id %}elements{% endblock %}

{% block shot_content %}
        <div class="left">
          <div class="box medium">
              <h3>Check In New Element</h3>
              <form id="form-element-checkIn" action="#" method="post">
                  <a href="javascript:ElementsBrowser()" id="form-element-checkIn-file">Choose Files</a>
                  <div id='displayed_selected_element' style="display: block;"></div>
                  <div class="clear"></div>
                  <input type="hidden" name="text" value="" id="form-element-selected" />
                  <input type="hidden" name="is_checked" value="false" />
                  <p>
                      <strong>Category:</strong>
                      <select id="form-element-checkIn-cateogory" name=kind>
                      {% for category in categories %}
                          <option>{{ category.type }}</option>
                      {% endfor %}
                      </select> 
                      <button type="submit" id="form-element-checkIn-submit" onclick="add_element();return false;" class="disabled">Check In</button>
                  </p>
              </form>
              <div class="bottom">&nbsp;</div>
          </div>

          <div class="box medium">
          <h3>Elements Browser</h3>
          <ul class="heading" id="elements_heading">
            <li class="date down highlight" onclick="elements.resort_table('date'); highlightHeading(this,elements);">Date</li>
            <li class="checkedInBy" onclick="elements.resort_table('checkedInBy'); highlightHeading(this,elements);">Created by</li>
            <li class="category" onclick="elements.resort_table('category'); highlightHeading(this,elements);">Category</li>
          </ul>
          <ul class="entries" id="elements_entries">
          </ul>
            <div class="bottom">&nbsp;</div>
          </div>
        </div>
        <div class="right">
          <div class="box small">
            <h3>Category</h3>
            <ul id='filter_category'></ul>
            <div class="bottom"></div>
          </div>
          <div class="box small">
            <h3>Created by</h3>
            <ul id='filter_checkedInBy'></ul>
            <div class="bottom"></div>
          </div>
        </div>
        <div class="clear">&nbsp;</div>
{% endblock %}

{% block shot_script %}
/* Elements functions
 * ------------------------------------------------------ */
function ElementsBrowser() {
    day = new Date();
    id = day.getTime();
    url = '/media/java/elements_browser.html';
    options = 'toolbar=0,scrollbars=1,location=0,statusbar=0,menubar=0,resizable=1,width=640,height=490,left = 400,top = 200';
    eval("page" + id + " = window.open(url, '" + id + "', options);");
}

function ElementBrowserSelection(path) {
    var text = document.createTextNode(path);
    nodeReplace($('displayed_selected_element'), text);
    $('form-element-selected').value = path;
    $('form-element-checkIn-submit').removeClassName('disabled');
}

/* called when user clicks on the 'Check in' element button */
function add_element() {
    // make sure the user selected an element
    if ($('form-element-checkIn-submit').hasClassName('disabled')) {
        return;
    }

    // fire off the request to the server to create the note
    new Ajax.Request('{{shot.get_json_elements_url}}', {
        parameters: $('form-element-checkIn').serialize(),
        evalJSON:   true,
        onSuccess:  function (r) {
            // Ajax callback triggered after a user clicks the 'Check in' button
            $('form-element-checkIn').reset();
            $('form-element-checkIn-submit').addClassName('disabled');
            nodeReplace($('displayed_selected_element'), document.createTextNode(''));
            styleSelects();
            elements.add_data(r.responseJSON[0]);
            elements.resort_table();
        },
    });
}

function delete_element(item) {
    var url = '{{shot.get_json_elements_url}}' + getattr(item, 'pk') + '/';

    new Ajax.Request(url, {
        method:     'delete',
        evalJSON:   true,
        onSuccess:  function (r) {
            // Ajax callback triggered when a user successfully deletes an element
            elements.delete_data(item);
            elements.resort_table();
        },
    });
}

/* called when page first loaded, initialize data */
function setup() {
    c_date      = new Informer.DateColumn('date', 'fields.created_on');
    c_author    = new Informer.UserColumn('checkedInBy', 'fields.created_by');
    c_category  = new Informer.TextColumn('category', 'fields.kind');
    c_text      = new Informer.TextColumn('text', 'fields.text');

    c_date.is_default = true;

    f_category  = new Informer.Filter(c_category);
    f_author    = new Informer.Filter(c_author); 

    var row_1   = [c_date, c_author, c_category];
    var filters = [f_category, f_author];

    elements = new Informer.Data('elements', row_1, c_text, filters);
    elements.generate_row = generate_row_double;
    elements.load_data({{ data }});
    elements.sort_descending('date');
}

// onload trigger
setup();
{% endblock %}
