{% extends "informer/shot_detail_base.html" %}

{% block body_id %}notes{% endblock %}

{% block content %}
        <div class="left">
          <div class="box medium">
            <h3>Add a note</h3>
            <form id="form-note-create" action="#" method="post">
              <input type="hidden" name="is_checked" value="false" />
              <textarea name="text" id="form-note-create-message"></textarea>
              <p>
                <strong>Assign this task to:</strong>
                <select name="assigned_to" id="form-note-create-assign"><option value="">Anyone</option>
                {% for user in users %}
                <option value="{{user.username}}">{{ user.username }}</option>
                {% endfor %}
                </select>
                <input type="image" id="form-note-create-submit" src="/site_media/images/button-addNote.gif" onclick="add_note();Notes.set_sorter('date');return false;"/>
              </p>
            </form>
            <div class="bottom">&nbsp;</div>
          </div>
          <div class="box medium">
            <h3>All Notes</h3>
            <ul class="heading" id="notes_heading">
              <li class="date highlight down" onclick="Notes.set_sorter('date'); highlightHeading(this);">Date</li>
              <li class="author" onclick="Notes.set_sorter('author'); highlightHeading(this);">Author</li>
              <li class="assignedTo" onclick="Notes.set_sorter('assignedTo'); highlightHeading(this);">Assigned To</li>
              <li class="status" onclick="Notes.set_sorter('status'); highlightHeading(this);">Status</li>
            </ul>
            <ul class="entries" id="notes_entries">
            </ul>
            <div class="bottom">&nbsp;</div>
          </div>
        </div>
        <div class="right">
          <div class="box small">
            <h3>Status</h3>
            <ul>
              <li class="highlight"><a href="#" title="#">Show All</a></li>
              <li><a href="#" title="#">Pending (1)</a></li>
              <li class="last"><a href="#" title="#">Completed (3)</a></li>
            </ul>
          </div>
          <div class="box small">
            <h3>Author</h3>
            <ul>
              <li class="highlight"><a href="#" title="#">Show All</a></li>
            </ul>
          </div>
          <div class="box small">
            <h3>Assigned to</h3>
            <ul>
              <li class="highlight"><a href="#" title="#">Show All</a></li>
            </ul>
          </div>
        </div>
        <div class="clear">&nbsp;</div>
      </div>
{% endblock %}

{% block script %}

/* Notes functions
 * ------------------------------------------------------ */

/* called when page first loaded, initialize data */
function setup() {
  Notes = new Informer.Data(
    'notes', // name
    [ // row_1
      {name: 'date',
       field: 'fields.created_on',
       sorter: sort_by_date,
       formatter: format_date,
       parser: parse_date,
       is_default: true},
      {name: 'author',
       field:'fields.created_by.username',
       sorter: sort_by_string},
       {name: 'assignedTo',
        field:'fields.assigned_to',
        formatter: format_assigned},
       {name: 'status',
        field: 'fields.is_checked',
       formatter: format_pending}
    ],
    { //row_2
     field: 'fields.text',
     formatter: format_nl2br
    },
    [ // filter_list
      new Informer.Filter('status', 'fields.is_checked', 'fields.is_checked', format_pending),
      new Informer.Filter('author', 'fields.created_by.pk', 'fields.created_by.username')
    ]);

    Notes.url = '{{shot.get_json_notes_url}}';
    Notes.load_data({{ data }});
}

/* called when user clicks on the 'Add Note' button */
function add_note() {
    // make sure the user entered something
    if (!$F('form-note-create-message')) {
        alert('Please enter a note first');
        return;
    }

    // fire off the request to the server to create the note
    new Ajax.Request(Notes.url, {
        parameters: $('form-note-create').serialize(),
        evalJSON:   true,
        onSuccess:  add_note_callback,
    });
}

/* Ajax callback triggered after a user clicks the 'Add Note' button */
function add_note_callback(r) {
    Notes.add_data(r.responseJSON[0]);
    $('form-note-create').reset();
}

// onload trigger
Event.observe(window, 'load', setup);
{% endblock %}
