<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>Informer | {{ title }}</title>
    
    <link rel="stylesheet" type="text/css" media="screen" href="/media/stylesheets/screen.css" />
    
    <script type="text/javascript" src="/media/js/prototype.js"></script>
    <script type="text/javascript" src="/media/js/informer.js"></script>
    <script type="text/javascript" src="/media/js/global.js"></script>

    <script type="text/javascript" src="/media/js/scripts.js"></script>
    <script type="text/javascript" src="/media/js/AC_OETags.js"></script>
  </head>
  <body id="{% block body_id %}overview{% endblock %}">
<!-- start WRAP -->
    <div id="wrap">
<!-- start HEADER -->      
      <div id="header">
        <ul id="breadcrumb">
          <li><h1><a href="/" title="Home" id="logo">Informer</a></h1></li>
          <li><span>&#8250;</span><a href="{{ project.get_absolute_shots_url }}" title="{{ project.name }} Project">{{ project.name }}</a></li>
          <li><span>&#8250;</span>{{ shot.name }}</li>
        </ul>
        <ul id="login">
          <li>Welcome {{ user.username }}</li>
          {% if user.is_staff %}
          <li><a href="/admin" title="Admin">Admin</a></li>
          {% endif %}
          <li><a href="/accounts/logout" title="Log Out">Log Out</a></li>
        </ul>
        <ul id="nav">
          <li><a href="{{ shot.get_absolute_url }}" title="" class="overview">Overview</a></li>
          <li><a href="{{ shot.get_absolute_notes_url }}" title="" class="notes">Notes</a></li>
          <li><a href="{{ shot.get_absolute_elements_url }}" title="" class="elements">Elements</a></li>
          <li><a href="{{ shot.get_absolute_renders_url }}" title="" class="renders">Renders</a></li>
        </ul>
      </div>
<!-- end HEADER -->

<!-- start DASHBOARD -->      
      <div id="dashboard">
        <div id="video"></div>
        <div id="shot-summary" class="box small">
          <h3>Shot Summary</h3>
          <ul>
            <li class="editor"><strong>Last Edited by:</strong> <span id="editor"></span></li>
            <li class="time"><strong>Time:</strong> <span id="time"></span></li>
            <li class="machine"><strong>Machine:</strong> <span id="machine"></span></li>
            <li class="path"><strong>Setup:</strong> <span id="path"></span></li>
          </ul>
          <h4>Shot Description:</h4>
          <p>{{ shot.description }}</p>
        </div>
        <div id="shot-specs" class="box small">
          <h3>Shot Specs</h3>
          <ul>
            <li><strong>Status:</strong> {{ shot.status }}</li>
            <li><strong>Total Frames:</strong> {{ shot.frames }}</li>
            <li class="last"><strong>Handles:</strong> {{ shot.handles }}</li>
          </ul>
        </div>
      </div>
<!-- end DASHBOARD -->

<!-- start CONTENT -->
      <div id="content">
        <div class="header">
          <h2>{{ title }}</h2>
        </div>
{% block content %}{% endblock %}
      </div>
    </div>
<!-- end WRAP -->

<script type="text/javascript">
function nodeReplace(node, child) {
    while (node.hasChildNodes())
        node.removeChild(node.firstChild);
    node.appendChild(child);
}

function load_render(id, movie_hi, movie_lo, artist, time, machine, path) {
    // set the global current render id (defined in informer.js)
    CURRENT_RENDER = id;

    if (null == artist)
        artist = 'None';
    if (null == time || 'None' == time) {
        time = 'None';
    } else {
        d = parse_date(time);
        month = (d.getMonth()+1).toPaddedString(2);
        day = d.getDate().toPaddedString(2)
        year = d.getYear();
        if (year > 100) year -= 100;
        if (year < 10) year = '0' + year;

        ampm = 'am';
        hours = d.getHours();
        if (hours > 12) {
            ampm = 'pm';
            hours -= 12;
        }
        mins = d.getMinutes().toPaddedString(2);
        time = month + '/' + day + '/' + year + ' at ' + hours + ':' + mins + ' ' + ampm;
    }
    if (null == machine)
        machine = 'None';
    if (null == path) {
        path = 'None';
    } else {
        parts = path.split('/');
        path = parts[parts.length-1];
    }

    nodeReplace($('video'),     getFlashPlayer(movie_hi, movie_lo));
    nodeReplace($('editor'),    document.createTextNode(artist));
    nodeReplace($('time'),      document.createTextNode(time));
    nodeReplace($('machine'),   document.createTextNode(machine));
    nodeReplace($('path'),      document.createTextNode(path));
}

load_render(
    '{{ shot.get_render_id }}',
    '{{ shot.get_render_movie_hi_url }}',
    '{{ shot.get_render_movie_lo_url }}',
    '{{ shot.get_render_artist }}',
    '{{ shot.get_render_time }}',
    '{{ shot.get_render_machine }}',
    '{{ shot.get_render_setup }}'
);

{%block script %}
{% endblock %}
</script>
<iframe src="about:blank" name="qtFrame" width="0" height="0" style="border: none; background-color: transparent;" id="qtFrame"></iframe>
  </body>
</html>
