{% extends "informer/shot_detail_base.html" %}

{% block title %}Notes{% endblock %}

{% block body_id %}notes{% endblock %}

{% block content %}
        <div class="left">
          <div class="box medium">
            <h3>Add a note</h3>
            <form id="form-note-create" action="#" method="post">
              <input type="hidden" name="is_checked" value="false" />
              <textarea name="text" id="form-note-create-message"></textarea>
              <p>
                <strong>Assign this task to:</strong>
                <select name="assigned_to" id="form-note-create-assign"><option value="">Anyone</option>
                {% for user in users %}
                <option value="{{user.username}}">{{ user.username }}</option>
                {% endfor %}
                </select>
                <input type="image" id="form-note-create-submit" src="/site_media/images/button-addNote.gif" onclick="add_note();return false;"/>
              </p>
            </form>
            <div class="bottom">&nbsp;</div>
          </div>
          <div class="box medium">
            <h3>All Notes</h3>
            <ul class="heading" id="notes_heading">
              <li class="date highlight">Date</li>
              <li class="author">Author</li>
              <li class="assignedTo">Assigned To</li>
              <li class="status">Status</li>
            </ul>
            <ul class="entries" id="notes_entries">
						{% for note in note_list %}
              <li>
							  <div class="entry">
                  <ul class="heading">
								    <li class="date highlight">{{ note.created_on|date:"m/d/Y" }}</li>
									  <li class="author">{{ note.created_by.username }}</li>
									  <li class="assignedTo">{% firstof note.assigned_to.username "&nbsp;" %}</li>
									  <li class="status">{% if note.status %}Completed{% else %}Pending {% endif %}</li>
									  <li class="close">Close</li>
                  </ul>
                  <div class="content"><p>{{ note.text|linebreaksbr }}</p></div>
                </div>
						  </li>
					  {% endfor %}
						</ul>
            <div class="bottom">&nbsp;</div>
          </div>
        </div>
        <div class="right">
          <div class="box small">
            <h3>Status</h3>
            <ul>
              <li class="highlight"><a href="#" title="#">Show All</a></li>
              <li><a href="#" title="#">Pending (1)</a></li>
              <li class="last"><a href="#" title="#">Completed (3)</a></li>
            </ul>
          </div>
          <div class="box small">
            <h3>Author</h3>
            <ul>
              <li class="highlight"><a href="#" title="#">Show All</a></li>
            </ul>
          </div>
          <div class="box small">
            <h3>Assigned to</h3>
            <ul>
              <li class="highlight"><a href="#" title="#">Show All</a></li>
            </ul>
          </div>
        </div>
        <div class="clear">&nbsp;</div>
      </div>
{% endblock %}

{% block script %}

/* Notes functions
 * ------------------------------------------------------ */

/* called when page first loaded, initialize data */
function setup() {
    Notes.url = '{{shot.get_json_notes_url}}';
}

/* called when user clicks on the 'Add Note' button */
function add_note() {
    // make sure the user entered something
    if (!$F('form-note-create-message')) {
        alert('Please enter a note first');
        return;
    }

    // fire off the request to the server to create the note
    new Ajax.Request(Notes.url, {
        parameters: $('form-note-create').serialize(),
        evalJSON:   true,
        onSuccess:  add_note_callback,
    });
}

/* Ajax callback triggered after a user clicks the 'Add Note' button */
function add_note_callback(r) {
    $('form-note-create').reset();
    Notes.add_data(r.responseJSON[0]);
}

////////////////////////////////////////////////////////////////////////////
/* bryan shit below ... not sure if it's needed yet */
var divs = [$('notes_div'), $('overview_div')];
function show(which) {
    for (var i=0; i<divs.length; i++) {
      divs[i].style.display = divs[i].id == which+'_div' ? 'block' : 'none';
    }
    document.body.id = which;
}

function new_note(r) {
    var n = eval(r.responseText)[0];
    Notes.data.push(n);
    Notes.populate_table();
    $('form-note-create').reset();
}
////////////////////////////////////////////////////////////////////////////

// onload trigger
Event.observe(window, 'load', setup);
{% endblock %}
