{% extends "informer/base.html" %}

{% block title %} | {{ project.name }} | {{ shot.name }} | {% block shot_title %}{% endblock %}{% endblock %}

{% block nav %}
        <ul id="nav">
          <li><a href="{{ shot.get_absolute_url }}" title="" class="overview">Overview</a></li>
          <li><a href="{{ shot.get_absolute_notes_url }}" title="" class="notes">Notes</a></li>
          <li><a href="{{ shot.get_absolute_elements_url }}" title="" class="elements">Elements</a></li>
          <li><a href="{{ shot.get_absolute_renders_url }}" title="" class="renders">Renders</a></li>
        </ul>
{% endblock %}

{% block dashboard %}
<!-- start DASHBOARD -->      
      <div id="dashboard">
        <div id="video"></div>
        <div class="right">
          <div id="shot-summary" class="box small">
            <h3>Shot Summary</h3>
            <ul>
              <li class="editor"><strong>Last Edited by:</strong> <span id="editor"></span></li>
              <li class="time"><strong>Time:</strong> <span id="time"></span></li>
              <li class="machine"><strong>Machine:</strong> <span id="machine"></span></li>
              <li class="path"><strong>Setup:</strong> <span id="path"></span></li>
            </ul>
            <h4>Shot Description:</h4>
            <p>{{ shot.description }}</p>
            <div class="bottom"></div>            
          </div>
          <div id="shot-specs" class="box small">
            <h3>Shot Specs</h3>
            <ul>
              <li><strong>Status:</strong> {{ shot.status }}</li>
              <li><strong>Total Frames:</strong> {{ shot.frames }}</li>
              <li class="last"><strong>Handles:</strong> {{ shot.handles }}</li>
            </ul>
            <div class="bottom"></div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
<!-- end DASHBOARD -->
{% endblock %}

{% block content %}
        <div class="header">
          <h2>{{ title }}</h2>
        </div>
{% block shot_content %}
{% endblock %}

<script type="text/javascript">
function generate_row_single(item) {
    // Creates a single row entry given passed data item (logs)
    var li = document.createElement('LI');
    create_entry_item(this, item, 'SPAN', li);
    return li; 
}

function generate_row_double(item) {
    // Creates a double row entry (note, render, or clip)
    var li = document.createElement('LI');
    li.id = item.pk;
    var entry = document.createElement('DIV');
    entry.className = 'entry';
    var ul = document.createElement('UL');
    ul.className = 'heading';
    create_entry_item(this, item, 'LI', ul);
    entry.appendChild(ul);

    var content = document.createElement('DIV');
    content.className = 'content';
    var val = getattr(item, this.row_2);
    if (val.tagName) {
        content.appendChild(val);
    } else {
        var p = document.createElement('P');
        p.appendChild(document.createTextNode(val));
        content.appendChild(p);
    }
    entry.appendChild(content);
    li.appendChild(entry);
    return li;
}

function create_entry_item(table, item, tag, parent) {
    for (var i=0; i<table.row_1.length; i++) {
        var info = table.row_1[i];
        var elem;
        if (info.create_func) {
            elem = info.create_func(item);
        } else if(info.name == "status") {
            var value = getattr(item, info);
            elem = document.createElement(tag);
            elem.className = info.name;
            elem.appendChild(document.createTextNode(value));
            checkbox = document.createElement('A');
            checkbox.className = value.toLowerCase();
            checkbox.href = "#";
            checkbox.onclick = function() {
                toggle_note_status(item);
                return false;
            };
            if (checkbox.className == "pending") {
                checkbox.innerHTML = "Pending";
                checkbox.title = "Pending";
            } else {
                checkbox.className = 'complete';
                checkbox.innerHTML = "Complete";
                checkbox.title = "Complete";
            }
            elem.appendChild(checkbox);
        } else {
            var value = getattr(item, info);
            elem = document.createElement(tag);
            elem.className = info.name;
            elem.appendChild(document.createTextNode(value));
        }
        parent.appendChild(elem);
    }

    // Adds the close button if we're on the notes page
    var button = document.createElement('li');
    if (document.body.id == "notes") {
        button.appendChild(document.createTextNode('Close'));
        button.onclick = function() {
            delete_note(item);
            return false;
        };
        button.className = "close";
    } else if (document.body.id == "elements") {
        button.appendChild(document.createTextNode('Close'));
        button.className = "close";
    } else if(document.body.id == "renders") {
        button.appendChild(document.createTextNode('Update'));
        if (getattr(item, 'pk') == CURRENT_RENDER)
            button.className = "updateSelected";
        else
            button.className = "update";
        button.observe('click', function() { load_render_callback(item) });
    }
    parent.appendChild(button);
}

function load_render(id, movie_hi, movie_lo, artist, time, machine, path) {
    // set the global current render id (defined in informer.js)
    CURRENT_RENDER = id;

    if (null == artist)
        artist = 'None';
    if (null == machine)
        machine = 'None';
    if (null == path) {
        path = 'None';
    } else {
        parts = path.split('/');
        path = parts[parts.length-1];
    }

    time = format_datetime(parse_date(time));

    nodeReplace($('video'),   getFlashPlayer(movie_hi, movie_lo));
    nodeReplace($('editor'),  document.createTextNode(artist));
    nodeReplace($('time'),    document.createTextNode(time));
    nodeReplace($('machine'), document.createTextNode(machine));
    nodeReplace($('path'),    document.createTextNode(path));
}

load_render(
    '{{ shot.get_render_id }}',
    '{{ shot.get_render_movie_hi_url }}',
    '{{ shot.get_render_movie_lo_url }}',
    '{{ shot.get_render_artist }}',
    '{{ shot.get_render_time }}',
    '{{ shot.get_render_machine }}',
    '{{ shot.get_render_setup }}'
);

{% block shot_script %}{% endblock %}
</script>
<iframe src="about:blank" name="qtFrame" width="0" height="0" style="border: none; background-color: transparent;" id="qtFrame"></iframe>
{% endblock %}
