{% extends "informer/shot_detail_base.html" %}

{% block body_id %}elements{% endblock %}

{% block content %}
        <div class="left">
          <div class="box medium">
              <h3>Check In New Element</h3>
              <form id="form-element-checkIn" action="#" method="post">
                  <a href="#" id="form-element-checkIn-file">Choose Files</a>
                  <p>
                      <strong>Category:</strong>
                      <select id="form-element-checkIn-cateogory">
                          <option selected="selected">Car</option>
                          <option>Boat</option>
                          <option>Truck</option>
                      </select> 
                      <input type="image" id="form-element-checkIn-submit" src="/media/images/button-checkIn.gif" />              
                  </p>
              </form>
              <div class="bottom">&nbsp;</div>
          </div>

          <div class="box medium">
          <h3>Elements Browser</h3>
          <ul class="heading" id="elements_heading">
            <li class="date down highlight" onclick="elements.resort_table('date'); highlightHeading(this,elements);">Date</li>
            <li class="checkedInBy" onclick="elements.resort_table('checkedInBy'); highlightHeading(this,elements);">Checked in by</li>
            <li class="category" onclick="elements.resort_table('category'); highlightHeading(this,elements);">Category</li>
          </ul>
          <ul class="entries" id="elements_entries">
          </ul>
            <div class="bottom">&nbsp;</div>
          </div>
        </div>
        <div class="right">
          <div class="box small">
            <h3>Category</h3>
            <ul id='filter_category'>
            </ul>
          </div>
          <div class="box small">
            <h3>Created by</h3>
            <ul id='filter_created_by'>
            </ul>
          </div>
        </div>
        <div class="clear">&nbsp;</div>
      </div>
{% endblock %}

{% block script %}

/* Elements functions
 * ------------------------------------------------------ */

/* called when page first loaded, initialize data */
function setup() {
  elements = new Informer.Data(
    'elements', // name
    [ // row_1
      {name: 'date',
       field: 'fields.created_on',
       sorter: sort_by_date,
       formatter: format_date,
       parser: parse_date,
       is_default: true},
      {name: 'checkedInBy',
       field: 'fields.created_by',
       formatter: format_author,
       sorter: sort_by_string},
      {name: 'category',
       field:'fields.kind',
       sorter: sort_by_string},
    ],
    { //row_2
     field: 'fields.text',
    },
    [ // filter_list
      new Informer.Filter('filter_category',   'fields.kind'),
      new Informer.Filter('filter_created_by', 'fields.created_by', format_author)
    ]);

    elements.url = '{{shot.get_json_elements_url}}';
    elements.load_data({{ data }});
    elements.resort_table('date');
}

// onload trigger
setup();
{% endblock %}
