<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>Informer | {{ title }}</title>
    
    <link rel="stylesheet" type="text/css" media="screen" href="/site_media/stylesheets/screen.css" />
    
    <script type="text/javascript" src="/site_media/js/prototype.js"></script>
    <script type="text/javascript" src="/site_media/js/informer.js"></script>
    <script type="text/javascript" src="/site_media/js/global.js"></script>

    <script type="text/javascript" src="/site_media/js/scripts.js"></script>
    <script type="text/javascript" src="/site_media/js/AC_OETags.js"></script>
    <script type="text/javascript">
// Globals
// Major version of Flash required
var requiredMajorVersion = 9;
// Minor version of Flash required
var requiredMinorVersion = 0;
// Minor version of Flash required
var requiredRevision = 115;
</script>

  </head>
  <body id="{% block body_id %}overview{% endblock %}">
<!-- start WRAP -->
    <div id="wrap">
<!-- start HEADER -->      
      <div id="header">
        <ul id="breadcrumb">
          <li><h1><a href="/" title="Home" id="logo">Informer</a></h1></li>
          <li><span>&#8250;</span><a href="{{ project.get_absolute_shots_url }}" title="{{ project.name }} Project">{{ project.name }}</a></li>
          <li><span>&#8250;</span>{{ shot.name }}</li>
        </ul>
        <ul id="login">
          <li>Welcome {{ user.username }}</li>
          {% if user.is_staff %}
          <li><a href="/admin" title="Admin">Admin</a></li>
          {% endif %}
          <li><a href="/accounts/logout" title="Log Out">Log Out</a></li>
        </ul>
        <ul id="nav">
          <li><a href="{{ shot.get_absolute_url }}" title="View all Recent Activity" class="overview">Overview</a></li>
          <li><a href="{{ shot.get_absolute_notes_url }}" title="View and Create Notes" class="notes">Notes</a></li>
          <li><a href="{{ shot.get_absolute_elements_url }}" title="View and Upload new Elements" class="elements">Elements</a></li>
          <li><a href="{{ shot.get_absolute_renders_url }}" title="View Renders" class="renders">Renders</a></li>
        </ul>
      </div>
<!-- end HEADER -->

<!-- start DASHBOARD -->      
      <div id="dashboard">
        <div id="video">
<script language="JavaScript" type="text/javascript">
  // Version check based upon the values entered above in "Globals"
  var hasReqestedVersion = DetectFlashVer(requiredMajorVersion, requiredMinorVersion, requiredRevision);
  if (!hasReqestedVersion) {
    var alternateContent = 'This site requires the latest version of the Adobe Flash Player. '
    + '<a href=http://www.adobe.com/go/getflash/>Get Flash</a>';
    document.write(alternateContent);  // insert non-flash content
  } else {
    now = new Date().getTime();
    renderFlash("/site_media/flash/player.swf?video={{ shot.get_render_movie_lo_url }}&videoAutoPlay=false&downloadURL={{ shot.get_render_movie_hi_url }}&viewLargerURL=/site_media/flash/qtFrame.html%3Fmovie%3D{{ shot.get_render_movie_hi_url }}&unique=" + now, 544, 382, 'wmode="transparent"');
  }

</script>
        </div>
        <div id="shot-summary" class="box small">
          <h3>Shot Summary</h3>
          <ul>
            <li class="editor"><strong>Last Edited by:</strong> {% firstof shot.get_render_artist "None" %}</li>
            <li class="time"><strong>Time:</strong> {% if shot.get_render_time %}
                                                        {{ shot.get_render_time|date:"n/j/y \a\t g:i A"|lower }}
                                                    {% else %}
                                                        None
                                                    {% endif %}
                                                    </li>
            <li class="machine"><strong>Machine:</strong> {% firstof shot.get_render_machine "None" %}</li>
            <li class="path"><strong>Setup:</strong> {% firstof shot.get_render_setup_filename "None" %}</li>
          </ul>
          <h4>Shot Description:</h4>
          <p>{{ shot.description }}</p>
        </div>
        <div id="shot-specs" class="box small">
          <h3>Shot Specs</h3>
          <ul>
            <li><strong>Status:</strong> {{ shot.status }}</li>
            <li><strong>Total Frames:</strong> {{ shot.frames }}</li>
            <li class="last"><strong>Handles:</strong> {{ shot.handles }}</li>
          </ul>
        </div>
      </div>
<!-- end DASHBOARD -->

<!-- start CONTENT -->
      <div id="content">
        <div class="header">
          <h2>{{ title }}</h2>
        </div>
{% block content %}{% endblock %}
      </div>
    </div>
<!-- end WRAP -->

<script type="text/javascript">
{%block script %}
{% endblock %}
</script>
<iframe src="about:blank" name="qtFrame" width="0" height="0" style="border: none; background-color: transparent;" id="qtFrame"></iframe>
  </body>
</html>
