{% extends "informer/shot_detail_base.html" %}

{% block shot_title %}Renders{% endblock %}
{% block body_id %}renders{% endblock %}

{% block shot_content %}
        <div class="left">
          <div class="box medium">
          <h3>Render History</h3>
          <ul class="heading" id="renders_heading">
            <li class="date down highlight" onclick="renders.resort_table('date'); highlightHeading(this,renders);">Date</li>
            <li class="machine" onclick="renders.resort_table('machine'); highlightHeading(this,renders);">Machine</li>
            <li class="artist" onclick="renders.resort_table('artist'); highlightHeading(this,renders);">Artist</li>
          </ul>
          <ul class="entries" id="renders_entries">
          </ul>
            <div class="bottom">&nbsp;</div>
          </div>
        </div>
        <div class="right">
          <div class="box small">
            <h3>Machine</h3>
            <ul id='filter_machine'></ul>
            <div class="bottom"></div>            
          </div>
          <div class="box small">
            <h3>Artist</h3>
            <ul id='filter_artist'></ul>
            <div class="bottom"></div>            
          </div>
        </div>
        <div class="clear">&nbsp;</div>
      </div>
{% endblock %}

{% block shot_script %}
/* Renders functions
 * ------------------------------------------------------ */

/* called when user clicks the play button for a row */
function load_render_callback(item) {
    load_render(
        getattr(item, 'pk'),
        getattr(item, 'fields.movie_hi'),
        getattr(item, 'fields.movie_lo'),
        getattr(item, 'fields.created_by'),
        getattr(item, 'fields.created_on'),
        getattr(item, 'fields.host'),
        getattr(item, 'fields.setup')
    );

    // redraw the table to update the currently selected row...
    renders.draw();
}

/* called when page first loaded, initialize data */
function setup() {
    c_date      = new Informer.DateColumn('date', 'fields.created_on');
    c_machine   = new Informer.TextColumn('machine', 'fields.host');
    c_artist    = new Informer.UserColumn('artist', 'fields.created_by');
    c_setup     = new Informer.ParagraphColumn('setup', 'fields.setup');

    c_date.is_default = true;

    f_machine = new Informer.Filter(c_machine);
    f_artist  = new Informer.Filter(c_artist);

    var row_1   = [c_date, c_machine, c_artist];
    var filters = [f_machine, f_artist];

    renders = new Informer.Data('renders', row_1, c_setup, filters);
    renders.generate_row = generate_row_double;
    renders.load_data({{ data }});
    renders.resort_table('date');
}

// onload trigger
setup();
{% endblock %}
