{% extends "informer/base.html" %}
{% block content %}
<h2>{{ project.name }}</h2>
<h3>{{ shot.name }}</h3>

<ul>
<li onclick="get_logs();">Recent Activity</li>
<li onclick="hide_all('notes') && Notes.populate_table()">Notes</li>
<li onclick="get_elements();">Elements</li>
<li onclick="get_renders();">Renders</li>
</ul>

<div id="logs" style="display:none">
<h4>Recent Activity</h4>
<table id="logs_table"></table>

</div><!-- logs -->

<div id="notes" style="display:none">
<h4>Notes</h4>
<table>
<tr>
<td valign="top">
<form id="notes_form" onsubmit="add_note(); return false;">
<textarea id="frm_notes"></textarea><br />
<input type="submit">
</form>

<table id="notes_table">
  <thead>
    <tr><th>Date</th><th>Author</th><th>Status</th></tr>
  </thead>
  <tbody></tbody>
</table>
</td><td valign="top">
<ul id="notes_author_filter"></ul>

<ul id="notes_status_filter"></ul>
</td>
</tr></table>
</div><!-- notes -->

<div id="elements" style="display:none">
<h4>Elements</h4>

<table>
<tr>
  <td>
    <select id="e_dirs"></select><br />
    <ul id="e_files" style="height:250px; overflow:auto;"></ul>
  </td>
  <td><table>
<tr><td>File:</td><td><span id="e_filename"></span></td></tr>
<tr><td>Category:</td><td><input type="text" id="e_category" /></td></tr>
<tr><td>Frames:</td><td><input type="text" size="5" id="e_sframe" /> - <input type="text" size="5" id="e_eframe" /></td></tr>
<tr><td colspan="2"><input type="button" value="submit" onclick="add_element()" /></td></tr>
  </table></td>
</tr>

</table>

<table id="elements_table"></table>
</div><!-- elements -->

<div id="renders" style="display:none">
<h4>Renders</h4>
<table id="renders_table"></table>

</div><!-- renders -->

<script type="text/javascript">

function do_onload()
{
  Notes.url = '{{ shot.get_json_notes_url }}';
}

Event.observe(window, 'load', do_onload);

    var logs_div = $('logs');
    var notes_div = $('notes');
    var elements_div = $('elements');
    var renders_div = $('renders');

    var logs_table = $('logs_table');
    var notes_table = $('notes_table');
    var elements_table = $('elements_table');
    var renders_table = $('renders_table');

    var logs_url = '{{ shot.get_json_logs_url }}';
    var notes_url = '{{ shot.get_json_notes_url }}';
    var elements_url = '{{ shot.get_json_elements_url }}';
    var renders_url = '{{ shot.get_json_renders_url }}';

    var CACHE = {};

    var e_path = '';

    function add_note() {
        var txt = $F('frm_notes');
        if (!txt) return;

        var data = {text:txt};
        new Ajax.Request(notes_url, {
           method: 'POST',
           parameters: data,
           onSuccess: function(r) { 
               var d = eval(r.responseText);
               Notes.data.push(d[0]);
               Notes.pre_process();
               Notes.populate_table();
               $('notes_form').reset();
               }
           });
    }

    function get_logs() {
        get_info(logs_div, logs_url, show_logs);
    }

    function get_notes() {
        get_info(notes_div, notes_url, show_notes);
    }

    function get_elements() {
        get_info(elements_div, elements_url, show_elements);
        e_path = '';
        get_file_list();
    }

    function get_renders() {
        get_info(renders_div, renders_url, show_renders);
    }

    function get_info(div, url, func) {
        // if already showing, forget it
        if (div.style.display == 'block')
            return;

        hide_all(div);

        if (!url) return;

        new Ajax.Request(url, {
            method: 'GET',
            onSuccess: func});
    }

    function hide_all(skip) {
      var obj = $(skip);
      if (obj.style.display == 'block')
        return false;
      $A([logs_div, notes_div, elements_div, renders_div]).each (function(each) {
        if (each) 
          each.style.display = each==obj ? 'block' : 'none';
        });
      return true;
    }

    var logTemplate = new Template(
        '<tr>' +
        '<td>#{when}</td>' +
        '<td>#{who}</td>' +
        '<td>#{activity}</td>' +
        '</tr>');

    function show_log(log) {
        var fields = log.fields;
        var who = fields.who;
        var when = parseDate(fields.when);
        var activity = fields.msg_prefix;
        if (fields.object_repr)
            activity += ' <b>"' + fields.object_repr + '"</b>'
        if (fields.msg_suffix)
            activity += ' ' + fields.msg_suffix;

        var info = {when: (when.getMonth()+1) + '-' + when.getDate(),
                     who: who ? who.username : '(TODO: need to add user)',
                     activity: activity};
        logs_table.innerHTML = logTemplate.evaluate(info) + logs_table.innerHTML;
    }

    function show_logs(response) {
        while (logs_table.hasChildNodes()) { logs_table.removeChild(logs_table.firstChild); }
        CACHE = {};
        var data = eval(response.responseText);
        data.each(function(x) { CACHE[x.pk]=x; show_log(x); });
    }

    var noteTemplate = new Template(
        '<tr>' + 
        '<td><input type="checkbox" id="chk_note_#{pk}"#{checked}>'+
        '<label id="lbl_note_#{pk}" for="chk_note_#{pk}">#{msg}</label></td>'+
        '<td rowspan="2">#{text}</td></tr><tr><td>#{by}</td></tr>'+
        '<tr><td colspan="2"><hr></td></tr>');

    function show_note(note) {
        var fields = note.fields;
        var created = parseDate(fields.created_on);
        var modified = parseDate(fields.modified_on);
        
        var info = {pk: note.pk,
                    text: fields.text,
                    msg: (fields.is_checked ? fields.modified_by.username + ' @ ' + (modified.getMonth()+1) + '-' + modified.getDate() : 'Todo'),
                    by: fields.created_by.username + ' @ ' + (created.getMonth()+1) + '-' + created.getDate(),
                    checked: (fields.is_checked ? ' checked' : '')};

        notes_table.innerHTML = noteTemplate.evaluate(info) + notes_table.innerHTML;

    }

    function show_notes(response) {
        while (notes_table.hasChildNodes()) { notes_table.removeChild(notes_table.firstChild); }
        CACHE = {};
        var data = eval(response.responseText);
        data.each(function(x) { CACHE[x.pk]=x; show_note(x); });
    }

    var elementTemplate = new Template(
        '<tr>' +
        '<td><input type="checkbox" id="chk_elm_#{pk}"#{checked}>'+
        '<label id="lbl_elm_#{pk}" for="chk_elm_#{pk}">#{kind}</label></td>'+
        '<td rowspan="2">#{text}</td></tr><tr><td>#{by}</td></tr>'+
        '<tr><td colspan="2"><hr></td></tr>');

    function show_element(element) {
        var fields = element.fields;
        var created = parseDate(fields.created_on);
        var created_by = fields.created_by.username + ' @ ' + (created.getMonth()+1) + '-' + created.getDate();
        
        var info = {pk: element.pk,
                    text: fields.text,
                    kind: fields.kind,
                    by: created_by,
                    checked: (fields.is_checked ? ' checked' : '')};

        elements_table.innerHTML = elementTemplate.evaluate(info) + elements_table.innerHTML;
    }

    function show_elements(response) {
        while (elements_table.hasChildNodes()) { elements_table.removeChild(elements_table.firstChild); }
        CACHE = {};
        var data = eval(response.responseText);
        data.each(function(x) { CACHE[x.pk]=x; show_element(x); });
    }
    function show_results(response, table) {
        while (table.hasChildNodes()) { table.removeChild(table.firstChild); }
        var data = eval(response.responseText);
        data.each(function(x) { add_data(x, table); });
    }


    var renderTemplate = new Template(
        '<tr>' +
        '<td>#{created_on}</td>' +
        '<td>#{host}</td>' +
        '<td>#{artist}</td>' +
        '<td>#{setup}</td>' +
        '<td><a href="#{movie}">#{movie}</a></td>' +
        '</tr>');

    function show_render(render) {
        var fields = render.fields;
        var created_on = parseDate(fields.created_on);
        var info = {created_on: (created_on.getMonth()+1) + '-' + created_on.getDate(),
                    host: fields.host,
                    artist: fields.created_by.username,
                    setup: fields.setup,
                    movie: fields.movie};
        renders_table.innerHTML = renderTemplate.evaluate(info) + renders_table.innerHTML;
    }

    function show_renders(response) {
        while (renders_table.hasChildNodes()) { renders_table.removeChild(renders_table.firstChild); }
        CACHE = {};
        var data = eval(response.responseText);
        data.each(function(x) { CACHE[x.pk]=x; show_render(x); });
    }

    function add_data(data, table) {
        table.appendChild(createRow('pk', data.pk));
        for (f in data.fields) {
            table.appendChild(createRow(f, data.fields[f]));
        }
        var tr = document.createElement('tr');
        var td = document.createElement('td');
        td.colspan=2;
        td.appendChild(document.createElement('hr'));
        tr.appendChild(td);
        table.appendChild(tr);

    }

    function createRow(x, y) {
        var tr = document.createElement('tr');
        var th = document.createElement('th');
        th.appendChild(document.createTextNode(x));
        tr.appendChild(th);
        var td = document.createElement('td');
        td.appendChild(document.createTextNode(y));
        tr.appendChild(td);
        return tr;
    }

    var e_dirs,e_files;

    function get_file_list() {
        if (!e_dirs) { e_dirs = $('e_dirs');
          e_dirs.observe('change', update_file_list); }
        if (!e_files) { e_files = $('e_files'); }

        var url = '/informer/1.0/listdir/'+e_path;
        new Ajax.Request(url, {
           method: 'GET',
           onSuccess: process_files
        });

    }

    function process_files(r) {
        var data = eval('('+r.responseText+')');
        // clear out files
        while (e_files.hasChildNodes())
        {
          e_files.removeChild(e_files.firstChild);
        }
        // clear out directories and add in the right ones
        while (e_dirs.hasChildNodes())
        {
          e_dirs.removeChild(e_dirs.firstChild);
        }
        // do directories
        var o = document.createElement('OPTION');
        o.appendChild(document.createTextNode('/'));
        o.value = '';
        e_dirs.options.add(o);
        var dirs = e_path.split('/');
        var current = '/';
        for (var i=0; i<dirs.length; i++)
        {
          if (!dirs[i]) continue;
          var o2 = document.createElement('OPTION');
          current = current + dirs[i];
          o2.appendChild(document.createTextNode(current));
          o2.value = current;
          e_dirs.options.add(o2);
          
        }
        e_dirs.selectedIndex = e_dirs.options.length-1;
        // add other info
        add_items(data.directories, 'dir', update_file_list);
        add_items(data.files, 'file', update_file);
        if (!e_files.hasChildNodes())
          add_items(["no files"], 'no_files');
    }

    function add_items(list, className, callback) {
        for (var i=0; i < list.length; i++) {
            var li = document.createElement('li');
            li.appendChild(document.createTextNode(list[i]));
            li.className = className
            if (callback)
              li.observe('click', callback);
            e_files.insert(li);
        }
    }

    function update_file_list(e) {
        var src = e.element();
        e_path = src.id == 'e_dirs' ?
          e_path = e_dirs.options[e_dirs.selectedIndex].value : 
          e_path + src.innerHTML;

        get_file_list();
    }

    function update_file(e) {
        var src = e.element();
        var box = $('e_filename');
        var file = src.firstChild.data;
        box.innerHTML = e_path + '/' + file;
    }

    function add_element() {
        var f = $('e_filename');
        var c = $('e_category');
        var sf = $('e_sframe');
        var ef = $('e_eframe');
        var txt = f.innerHTML;
        var cat = c.value;
        var sframe = sf.value;
        var eframe = ef.value;
        if (!txt || !cat) return;

        var data = {created_by_id:1, text:txt, kind:cat, start_frame:sframe, end_frame:eframe};
        new Ajax.Request(elements_url, {
           method: 'POST',
           parameters: data,
           onSuccess: function(r) {
               var d = eval(r.responseText);
               add_data(d[0], elements_table);
               }
           });
    }
</script>

{% endblock %}
