{% extends "informer/shot_detail_base.html" %}

{% block body_id %}renders{% endblock %}

{% block content %}
        <div class="left">
          <div class="box medium">
          <h3>Render History</h3>
          <ul class="heading" id="renders_heading">
            <li class="date highlight down" onclick="Renders.resort_table('date'); highlightHeading(this);">Date</li>
            <li class="machine" onclick="Renders.resort_table('machine'); highlightHeading(this);">Machine</li>
            <li class="artist" onclick="Renders.resort_table('artist'); highlightHeading(this);">Artist</li>
          </ul>
          <ul class="entries" id="renders_entries">
          </ul>
            <div class="bottom">&nbsp;</div>
          </div>
        </div>
        <div class="right">
          <div class="box small">
            <h3>Status</h3>
            <ul>
              <li class="highlight"><a href="#" title="#">Show All</a></li>
              <li><a href="#" title="#">Pending (1)</a></li>
              <li class="last"><a href="#" title="#">Completed (3)</a></li>
            </ul>
          </div>
          <div class="box small">
            <h3>Author</h3>
            <ul>
              <li class="highlight"><a href="#" title="#">Show All</a></li>
            </ul>
          </div>
          <div class="box small">
            <h3>Assigned to</h3>
            <ul>
              <li class="highlight"><a href="#" title="#">Show All</a></li>
            </ul>
          </div>
        </div>
        <div class="clear">&nbsp;</div>
      </div>
{% endblock %}

{% block script %}

/* Renders functions
 * ------------------------------------------------------ */

/* called when page first loaded, initialize data */
function setup() {
  Renders = new Informer.Data(
    'renders', // name
    [ // row_1
      {name: 'date',
       field: 'fields.created_on',
       sorter: sort_by_date,
       formatter: format_date,
       parser: parse_date,
       is_default: true},
       {name: 'machine',
        field: 'fields.host',
        sorter: sort_by_string},
      {name: 'artist',
       field:'fields.created_by.username',
       sorter: sort_by_string},
    ],
    { //row_2
     field: 'fields.setup',
    },
    [ // filter_list
      new Informer.Filter('machine', 'fields.host', 'fields.host'),
      new Informer.Filter('author', 'fields.created_by.username', 'fields.created_by.username')
    ]);

    Renders.url = '{{shot.get_json_renders_url}}';
    Renders.load_data({{ data }});
}


Event.observe(window, 'load', setup);

{% endblock %}
