{% extends "informer/shot_detail_base.html" %}

{% block body_id %}overview{% endblock %}

{% block content %}
<div class="box large">
    <h3>Recent Activity</h3>
    <ul class="heading" id="overview_heading">
        <li class="date highlight down" onclick="Logs.resort_table('date'); highlightHeading(this,Logs);">Date</li>
        <li class="author" onclick="Logs.resort_table('author'); highlightHeading(this,Logs);">Author</li>
        <li class="activity" onclick="Logs.resort_table('activity'); highlightHeading(this,Logs);">Activity</li>
    </ul>
    <ul class="entries" id="overview_entries">
    </ul>
</div>
{% endblock %}

{%block script %}

function setup() {
  Logs = new Informer.Data(
    'overview', // name
    [ // row_1
      {name: 'date',
       field: 'fields.when',
       sorter: sort_by_date,
       formatter: format_date,
       parser: parse_date,
       is_default: true},
      {name: 'author',
       field:'fields.who.username',
       sorter: sort_by_string},
      {name: 'activity',
       field: 'fields.msg_prefix',
       create_func: create_log,
       sorter: sort_by_string}
    ],
    null, //row_2
    [ // filter_list
      new Informer.Filter('date', 'fields.when', 'fields.when', format_date),
      new Informer.Filter('author', 'fields.who.pk', 'fields.who.username')
    ]);

    Logs.url = '{{ shot.get_json_logs_url }}';
    Logs.load_data({{ data }});
    Logs._sorter = "date";
}

Event.observe(window, 'load', setup)

{% endblock %}
