{% extends "informer/shot_detail_base.html" %}

{% block body_id %}overview{% endblock %}

{% block content %}
<div class="box large">
    <h3>Recent Activity</h3>
    <ul class="heading" id="overview_heading">
        <li class="date down highlight" onclick="overview.resort_table('date'); highlightHeading(this,overview);">Date</li>
        <li class="author" onclick="overview.resort_table('author'); highlightHeading(this,overview);">Author</li>
        <li class="activity" onclick="overview.resort_table('activity'); highlightHeading(this,overview);">Activity</li>
    </ul>
    <ul class="entries" id="overview_entries">
    </ul>
</div>
{% endblock %}

{%block script %}

function setup() {
  overview = new Informer.Data(
    'overview', // name
    [ // row_1
      {name: 'date',
       field: 'fields.when',
       sorter: sort_by_date,
       formatter: format_date,
       parser: parse_date,
       is_default: true},
      {name: 'author',
       field:'fields.who',
       sorter: sort_by_string},
      {name: 'activity',
       field: 'fields.msg_prefix',
       create_func: create_log,
       sorter: sort_by_string}
    ],
    null, // row_2
    null // no filters
    );

    overview.url = '{{ shot.get_json_logs_url }}';
    overview.load_data({{ data }});
    addIEOverviewHoverStyles();
}

// onload trigger
setup();
{% endblock %}
