<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="/media/stylesheets/screen.css" />
<link rel="stylesheet" type="text/css" href="/media/stylesheets/admin.css" />
{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}" id="admin">

<!-- start WRAP -->
<div id="wrap">

<!-- start HEADER -->       
  <div id="header">
    {% if not is_popup %}
    <ul id="breadcrumb">
      <li><h1><a href="/admin" title="Admin Home" id="logo">Informer Administration</a></h1></li>
      {% block breadcrumbs %}
        {% if title %}<li><span>&#8250;</span>{{ title|escape }}</li>{% endif %}
      {% endblock %}
    </ul>
    {% if user.is_authenticated and user.is_staff %}
    <ul id="login">
      <li>Welcome {% if user.first_name %}{{ user.first_name|escape }}{% else %}{{ user.username }}{% endif %}</li>
      {% block userlinks %}
      <li><a href="doc/" title="Documentation">Documentation</a></li>
      <li><a href="password_change/" title="Change you password">Change Password</a></li>
      <li><a href="logout/" title="Logout">Logout</a></li>
      {% endblock %}
    </ul>
    {% endif %}
    <ul id="sub_nav">
      {% block content_title %}{% if title %}<h2>{{ title|escape }}</h2>{% endif %}{% endblock %}
      {% block object-tools %}{% endblock %}
    </ul>
  </div>
  <!-- end HEADER -->
{% endif %}

<!-- start CONTENT -->
  <div id="content" class="{% block coltype %}colM{% endblock %}">
    {% if messages %}
    <ul class="messagelist">{% for message in messages %}<li>{{ message|escape }}</li>{% endfor %}</ul>
    {% endif %}
  
    {% block pretitle %}{% endblock %}
    {% block content %}
    {{ content }}
    {% endblock %}
    {% block sidebar %}{% endblock %}
    <div class="clear"></div>
  </div>
<!-- end CONTENT -->
</div>
<!-- end WRAP -->
</body>
</html>
