{% extends "admin/base_site.html" %}
{% load adminmedia admin_list i18n %}
{% block bodyclass %}change-list{% endblock %}
{% block userlinks %}<li><a href="../../doc/">{% trans 'Documentation' %}</a></li><li><a href="../../password_change/">{% trans 'Change password' %}</a></li><li><a href="../../logout/">{% trans 'Log out' %}</a></li>{% endblock %}
{% if not is_popup %}{% block breadcrumbs %}<li><span>&#8250;</span>{{ cl.opts.verbose_name_plural|capfirst|escape }}</li>{% endblock %}{% endif %}
{% block object-tools %}
{% if has_add_permission %}
<ul class="sorting"><li><a href="add/{% if is_popup %}?_popup=1{% endif %}" class="addlink">{% blocktrans with cl.opts.verbose_name|escape as name %}+ Add {{ name }}{% endblocktrans %}</a></li></ul>
{% endif %}
{% endblock %}

{% block content %}
<div class="box large">
  <h3>{% blocktrans with cl.opts.verbose_name_plural|capfirst|escape as name %}{{ name }}{% endblocktrans %}</h3>
  {% block search %}{% search_form cl %}{% endblock %}
  {% block date_hierarchy %}{% date_hierarchy cl %}{% endblock %}
  {% block filters %}{% filters cl %}{% endblock %}
  {% block result_list %}{% result_list cl %}{% endblock %}
  {% block pagination %}{% pagination cl %}{% endblock %}
  <div class="bottom"></div>
</div>

{% endblock %}

